Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

yaml-sort-i18n:
  name: Sort i18n YAML files
  entry: npx yaml-sort -i
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-go-template@0.0.6

feat: add euro payment to railtourguide
  content/booking/railtourguide-website/index.de.md
  content/booking/railtourguide-website/index.en.md
  content/booking/railtourguide-website/index.fr.md
Due: prettier

feat: add boarding rules in france
  content/operator/db/index.de.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
  content/operator/sncf/index.de.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
Due: prettier

feat: add international db agencies
  content/booking/db-ticket-office/index.de.md
  content/booking/db-ticket-office/index.en.md
  content/booking/db-ticket-office/index.fr.md
Due: prettier

fix: improve formatting
  content/application/db/index.de.md
  content/application/db/index.en.md
  content/application/db/index.fr.md
Due: prettier

fix: update ui
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_shortcodes/taxation-embed.html
Due: yaml-sort-i18n, prettier

fix: update ui 2
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_shortcodes/taxation-embed.html
Due: yaml-sort-i18n, prettier

fix: wording
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

fix: add ticket count and price per ticket to taxation localization
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_shortcodes/taxation-embed.html
Due: yaml-sort-i18n, prettier

fix: update placeholder text for taxation input fields in localization files
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

feat: rename MÁV to MÁV-START
  content/booking/mav-ticket-machine/index.de.md
  content/booking/mav-ticket-machine/index.en.md
  content/booking/mav-ticket-machine/index.fr.md
  content/booking/mav-ticket-office/index.de.md
  content/booking/mav-ticket-office/index.en.md
  content/booking/mav-ticket-office/index.fr.md
  content/booking/mav-website/index.de.md
  content/booking/mav-website/index.en.md
  content/booking/mav-website/index.fr.md
  content/country/austria/index.de.md
  content/country/austria/index.en.md
  content/country/austria/index.fr.md
  content/country/hungary/index.de.md
  content/country/hungary/index.en.md
  content/country/hungary/index.fr.md
  content/country/romania/index.de.md
  content/country/romania/index.en.md
  content/country/romania/index.fr.md
  content/country/serbia/index.de.md
  content/country/serbia/index.en.md
  content/country/serbia/index.fr.md
  content/country/slovakia/index.de.md
  content/country/slovakia/index.en.md
  content/country/slovakia/index.fr.md
  content/country/slovenia/index.de.md
  content/country/slovenia/index.en.md
  content/country/slovenia/index.fr.md
  content/identify-operator/mav-plusz-website/index.de.md
  content/identify-operator/mav-plusz-website/index.en.md
  content/identify-operator/mav-plusz-website/index.fr.md
  content/operator/gysev/index.de.md
  content/operator/gysev/index.en.md
  content/operator/gysev/index.fr.md
  content/operator/mav/index.de.md
  content/operator/mav/index.en.md
  content/operator/mav/index.fr.md
  content/operator/sbb/index.de.md
  content/operator/sbb/index.en.md
  content/operator/sbb/index.fr.md
Due: prettier

fix: add distribution field to taxation localization in German, English, and French
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_shortcodes/taxation-embed.html
Due: yaml-sort-i18n, prettier

Update Operator “ns” +2
  content/operator/ns/index.de.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
Due: prettier

fix: add headline
  content/taxation/index.de.md
  content/taxation/index.en.md
  content/taxation/index.fr.md
Due: prettier

fix: add connections section to en and fr pages
  content/country/netherlands/index.de.md
  content/country/netherlands/index.en.md
  content/country/netherlands/index.fr.md
  content/operator/bls/index.en.md
  content/operator/bls/index.fr.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
  content/operator/cfl/index.en.md
  content/operator/cfl/index.fr.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
  content/operator/dsb/index.en.md
  content/operator/dsb/index.fr.md
  content/operator/fs/index.en.md
  content/operator/fs/index.fr.md
  content/operator/gysev/index.en.md
  content/operator/gysev/index.fr.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
  content/operator/oebb/index.en.md
  content/operator/oebb/index.fr.md
  content/operator/pkp/index.en.md
  content/operator/pkp/index.fr.md
  content/operator/renfe/index.en.md
  content/operator/renfe/index.fr.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
  content/operator/zssk/index.en.md
  content/operator/zssk/index.fr.md
Due: prettier

fix: min
  .opencode/package-lock.json
  i18n/fr.yaml
Due: yaml-sort-i18n

fix: split css
  layouts/_shortcodes/taxation-embed.html
Due: prettier

Update Operator “ns” +3
  content/operator/ns/index.de.md
  content/operator/ns/toeslag-supplement.webp
Due: prettier

fix: update css
  assets/sass/contentNavigation.scss
  assets/sass/header.scss
  assets/sass/navigation.scss
  assets/sass/teaser.scss
Due: prettier

fix: add news
  content/news/14/image.webp
  content/news/14/index.de.md
  content/news/14/index.en.md
  content/news/14/index.fr.md
  content/news/14/tax-calculator.de.webp
  content/news/14/tax-calculator.en.webp
  content/news/14/tax-calculator.fr.webp
Due: prettier

fix: update wording
  content/booking/db-ticket-office/index.de.md
  content/booking/db-ticket-office/index.en.md
  content/booking/db-ticket-office/index.fr.md
Due: prettier

feat: add international db agencies (#1199)
  content/booking/db-ticket-office/index.de.md
  content/booking/db-ticket-office/index.en.md
  content/booking/db-ticket-office/index.fr.md
Due: prettier

feat: add euro payment to railtourguide (#1197)
  content/booking/railtourguide-website/index.de.md
  content/booking/railtourguide-website/index.en.md
  content/booking/railtourguide-website/index.fr.md
Due: prettier

fix: run prek
  content/country/netherlands/index.de.md
  content/country/netherlands/index.en.md
  content/country/netherlands/index.fr.md
Due: prettier

fix: add connections section to en and fr pages (#1203)
  content/country/netherlands/index.de.md
  content/country/netherlands/index.en.md
  content/country/netherlands/index.fr.md
  content/operator/bls/index.en.md
  content/operator/bls/index.fr.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
  content/operator/cfl/index.en.md
  content/operator/cfl/index.fr.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
  content/operator/dsb/index.en.md
  content/operator/dsb/index.fr.md
  content/operator/fs/index.en.md
  content/operator/fs/index.fr.md
  content/operator/gysev/index.en.md
  content/operator/gysev/index.fr.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
  content/operator/oebb/index.en.md
  content/operator/oebb/index.fr.md
  content/operator/pkp/index.en.md
  content/operator/pkp/index.fr.md
  content/operator/renfe/index.en.md
  content/operator/renfe/index.fr.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
  content/operator/zssk/index.en.md
  content/operator/zssk/index.fr.md
Due: prettier

feat: add brennerzuschlag to oebb website
  content/booking/oebb-website/index.de.md
  content/booking/oebb-website/oebb_brennerzuschlag.webp
  content/operator/oebb/index.de.md
Due: prettier

fix: update sncf tgv to freibug
  content/operator/db/index.de.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
Due: prettier

Update to the use of FIP facilities with Scandlines/DB Regio Stuttgart (#1192)
  content/country/denmark/index.de.md
  content/country/denmark/index.en.md
  content/country/denmark/index.fr.md
  content/country/germany/index.de.md
  content/country/germany/index.en.md
  content/country/germany/index.fr.md
  content/operator/db/index.de.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
  content/operator/dsb/index.de.md
  content/operator/dsb/index.en.md
  content/operator/dsb/index.fr.md
Due: prettier

fix: update links to the tax calculator in multiple languages and files
  content/application/db/index.de.md
  content/application/db/index.en.md
  content/application/db/index.fr.md
  content/general/taxation/index.de.md
  content/general/taxation/index.en.md
  content/general/taxation/index.fr.md
  content/news/14/index.de.md
  content/news/14/index.en.md
  content/news/14/index.fr.md
  content/taxation/index.de.md
  content/taxation/index.en.md
  content/taxation/index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_partials/highlight.html
  layouts/_partials/train-category.html
  layouts/_shortcodes/taxation-embed.html
Due: yaml-sort-i18n, prettier

fix: test new loading
  layouts/_shortcodes/taxation-embed.html
Due: prettier

Revert "fix: test new loading"
  layouts/_shortcodes/taxation-embed.html
Due: prettier

fix: improve loading
  layouts/_shortcodes/taxation-embed.html
Due: prettier

fix: test fetch
  layouts/_shortcodes/taxation-embed.html
Due: prettier

fix: next try
  layouts/_shortcodes/taxation-embed.html
Due: prettier

fix: next test
  layouts/_shortcodes/taxation-embed.html
Due: prettier

fix: final done
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_shortcodes/taxation-embed.html
Due: yaml-sort-i18n, prettier

fix: download icon
  assets/sass/taxationEmbed.scss
  layouts/_shortcodes/taxation-embed.html
Due: prettier

build: Bump frontend versions
  package-lock.json
  package.json
Due: none

feat(cms): Add automatic webp transformation of images
  layouts/admin/section.cmsconfig.yml
Due: none

Path conditions:
  yaml-sort-i18n: any of: ^i18n/.*\.ya?ml$
  prettier: any of: \.(js|mjs|cjs)$, \.scss$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$
