Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]
default_stages: [pre-commit, pre-merge-commit]
minimum_pre_commit_version: 3.2.0
default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.24.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
        exclude: "^layouts/_default/rss.xml$"
      - id: check-yaml
        exclude: "validity.yaml$"
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: yaml-sort-i18n
        name: Sort i18n YAML files
        entry: npx yaml-sort -i
        language: system
        types: [file]
        files: ^i18n/.*\.ya?ml$
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        types_or: [javascript, scss, html, markdown]
        additional_dependencies:
          - "prettier@3.6.2"
          - "prettier-plugin-go-template@0.0.6"

ci: Install dart-scss via npm instead of snap
  .github/workflows/deploy.yaml
  .github/workflows/pullrequest.yaml
  package-lock.json
  package.json
Due: none

feat: Update SNCB ticket machine situation after end of on-board sales
  content/news/10/index.de.md
  content/news/10/index.en.md
  content/news/10/index.fr.md
Due: prettier

fix: update headline for better visibility
  content/news/10/index.de.md
  content/news/10/index.en.md
  content/news/10/index.fr.md
Due: prettier

fix: Update name of London cable car (#907)
  content/operator/gb/index.de.md
  content/operator/gb/index.en.md
  content/operator/gb/index.fr.md
Due: prettier

feat: Add Lumo West Coast acceptance (#906)
  content/operator/gb/index.de.md
  content/operator/gb/index.en.md
  content/operator/gb/index.fr.md
Due: prettier

fix: Update renfe ticket prices for 2026 (#905)
  content/country/france/index.de.md
  content/country/france/index.en.md
  content/country/france/index.fr.md
  content/country/spain/index.de.md
  content/country/spain/index.en.md
  content/country/spain/index.fr.md
  content/operator/renfe/index.de.md
  content/operator/renfe/index.en.md
  content/operator/renfe/index.fr.md
Due: prettier

feat: Update SNCB ticket machine situation after end of on-board sales (#909)
  content/news/10/index.de.md
  content/news/10/index.en.md
  content/news/10/index.fr.md
Due: prettier

feat: Add shortcut tile for FIP application (#895)
  AGENTS.md
  assets/sass/startpage.scss
  content/fip-validity/index.de.md
  content/fip-validity/index.en.md
  content/fip-validity/index.fr.md
  content/generalinformation/_index.de.md
  content/generalinformation/_index.en.md
  content/generalinformation/_index.fr.md
  content/generalinformation/faq/number-of-fields/_index.de.md
  content/generalinformation/faq/number-of-fields/_index.en.md
  content/generalinformation/faq/number-of-fields/_index.fr.md
  content/generalinformation/faq/what-rules-apply-to-fip-coupons/_index.de.md
  content/generalinformation/faq/what-rules-apply-to-fip-coupons/_index.en.md
  content/generalinformation/faq/what-rules-apply-to-fip-coupons/_index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_default/home.html
Due: yaml-sort-i18n, prettier

fix: update donation link
  .github/FUNDING.yml
  README.md
  layouts/partials/footer.html
Due: prettier

fix: add zugpostlink in other languages
  content/operator/cp/index.de.md
  content/operator/cp/index.en.md
  content/operator/cp/index.fr.md
  content/operator/euskotren/index.de.md
  content/operator/euskotren/index.en.md
  content/operator/euskotren/index.fr.md
  content/operator/renfe/index.de.md
  content/operator/renfe/index.en.md
  content/operator/renfe/index.fr.md
Due: prettier

fix: final 404 changes
  content/404/index.fr.md
  layouts/404/single.html
  static/404.html
Due: prettier

fix: adjust margin for 404 page image in responsive layout
  assets/sass/404.scss
Due: prettier

fix: incorporate feedback
  content/generalinformation/_index.de.md
  content/operator/bdz/index.en.md
  content/operator/bsb/index.en.md
  content/operator/cd/index.en.md
  content/operator/cfr/index.en.md
  content/operator/cie/index.en.md
  content/operator/cp/index.en.md
  content/operator/dsb/index.en.md
  content/operator/fs/index.en.md
  content/operator/gysev/index.en.md
  content/operator/ht/index.en.md
  content/operator/ks/index.en.md
  content/operator/kw/index.en.md
  content/operator/lka/index.en.md
  content/operator/ltg/index.en.md
  content/operator/nir/index.en.md
  content/operator/oebb/index.en.md
  content/operator/pkp/index.en.md
  content/operator/renfe/index.en.md
  content/operator/sncf/index.de.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n, prettier

fix: incorporate feedback
  content/operator/zpcg/index.de.md
  content/operator/zpcg/index.en.md
  content/operator/zpcg/index.fr.md
Due: prettier

fix: add AI feedback
  content/booking/zpcg-ticket-office/index.de.md
  content/booking/zpcg-ticket-office/index.en.md
  content/booking/zpcg-ticket-office/index.fr.md
  content/country/montenegro/index.de.md
  content/country/montenegro/index.en.md
  content/country/montenegro/index.fr.md
  content/operator/zpcg/index.de.md
  content/operator/zpcg/index.fr.md
Due: prettier

fix: update zpcg logo
  assets/images/logos/zpcg.svg
Due: none

feat: redesign 404 page with error image and fix GitHub Pages routing (#810)
  assets/sass/404.scss
  assets/sass/main.scss
  content/404/404.webp
  content/404/index.de.md
  content/404/index.en.md
  content/404/index.fr.md
  layouts/404/single.html
Due: prettier

feat: add montenegro & zpcg (#851)
  assets/content-not-available-yet.json
  assets/images/logos/zpcg.svg
  content/booking/zpcg-ticket-office/index.de.md
  content/booking/zpcg-ticket-office/index.en.md
  content/booking/zpcg-ticket-office/index.fr.md
  content/country/montenegro/image.webp
  content/country/montenegro/index.de.md
  content/country/montenegro/index.en.md
  content/country/montenegro/index.fr.md
  content/identify-operator/zpcg-website/index.de.md
  content/identify-operator/zpcg-website/index.en.md
  content/identify-operator/zpcg-website/index.fr.md
  content/operator/zpcg/image.webp
  content/operator/zpcg/index.de.md
  content/operator/zpcg/index.en.md
  content/operator/zpcg/index.fr.md
Due: prettier

fix: update donation link (#912)
  .github/FUNDING.yml
  README.md
  layouts/partials/footer.html
Due: prettier

feat: removed addition in german
  content/operator/cp/index.de.md
  content/operator/euskotren/index.de.md
  content/operator/renfe/index.de.md
Due: prettier

feat: added travel report from zugpost (#904)
  content/operator/cp/index.de.md
  content/operator/cp/index.en.md
  content/operator/cp/index.fr.md
  content/operator/euskotren/index.en.md
  content/operator/euskotren/index.fr.md
  content/operator/renfe/index.en.md
  content/operator/renfe/index.fr.md
Due: prettier

fix: fix comma placement
  content/generalinformation/faq/does-fip-also-apply-on-buses/_index.de.md
  content/generalinformation/faq/is-fip-valid-on-rail-replacement-services/_index.de.md
  content/operator/bls/index.de.md
  content/operator/cd/index.de.md
  content/operator/db/index.de.md
  content/operator/euskotren/index.de.md
  content/operator/fs/index.de.md
  content/operator/gysev/index.de.md
  content/operator/kd/index.de.md
  content/operator/kml/index.de.md
  content/operator/ks/index.de.md
  content/operator/kw/index.de.md
  content/operator/lka/index.de.md
  content/operator/oebb/index.de.md
  content/operator/pkp/index.de.md
  content/operator/sbb/index.de.md
  content/operator/sncf/index.de.md
  content/operator/zssk/index.de.md
Due: prettier

fix: tag text overflow
  assets/sass/tag.scss
Due: prettier

fix: fixed broken links
  .github/workflows/linkcheck.yaml
  content/booking/sbb-website/index.en.md
  content/booking/sbb-website/index.fr.md
  content/operator/gb/index.de.md
  content/operator/gb/index.en.md
  content/operator/gb/index.fr.md
Due: prettier

feat: update FIP coupon validity for NS employees
  content/operator/ns/validity.yaml
Due: none

feat: add GWR WhatsApp booking information
  content/booking/gwr-whatsapp/index.de.md
  content/booking/gwr-whatsapp/index.en.md
  content/booking/gwr-whatsapp/index.fr.md
  content/operator/gb/index.de.md
  content/operator/gb/index.en.md
  content/operator/gb/index.fr.md
Due: prettier

feat: Update NS coupons for VY, LTG & KML
  content/operator/ns/validity.yaml
Due: none

fix: tag text overflow (#913)
  assets/sass/tag.scss
Due: prettier

fix: fixed broken links (#914)
  .github/workflows/linkcheck.yaml
  content/booking/sbb-website/index.en.md
  content/booking/sbb-website/index.fr.md
  content/operator/gb/index.de.md
  content/operator/gb/index.en.md
  content/operator/gb/index.fr.md
Due: prettier

fix: Update "Break of Journey" for VY and ZPCG
  content/operator/vy/index.en.md
  content/operator/zpcg/index.en.md
Due: prettier

feat: add GWR WhatsApp booking information (#916)
  content/booking/gwr-whatsapp/index.de.md
  content/booking/gwr-whatsapp/index.en.md
  content/booking/gwr-whatsapp/index.fr.md
  content/operator/gb/index.de.md
  content/operator/gb/index.en.md
  content/operator/gb/index.fr.md
Due: prettier

fix: Clarify free children option for DB
  content/operator/db/index.de.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
Due: prettier

feat: update FIP coupon validity for NS employees (#915)
  content/operator/ns/validity.yaml
Due: none

feat: add navigation dropdown for general
  assets/js/dropdown.js
  content/fip-validity/index.de.md
  content/fip-validity/index.en.md
  content/fip-validity/index.fr.md
  content/generalinformation/_index.de.md
  content/generalinformation/_index.en.md
  content/generalinformation/_index.fr.md
  content/generalinformation/faq/_index.de.md
  content/generalinformation/faq/_index.en.md
  content/generalinformation/faq/_index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/navigation.html
Due: yaml-sort-i18n, prettier

feat: moved fip-validity page and adjusted all corresponding links
  content/general/_index.de.md
  content/general/_index.en.md
  content/general/_index.fr.md
  content/general/faq/_index.de.md
  content/general/faq/number-of-fields/_index.de.md
  content/general/faq/number-of-fields/_index.en.md
  content/general/faq/number-of-fields/_index.fr.md
  content/general/faq/what-rules-apply-to-fip-coupons/_index.de.md
  content/general/faq/what-rules-apply-to-fip-coupons/_index.en.md
  content/general/faq/what-rules-apply-to-fip-coupons/_index.fr.md
  content/general/fip-validity/index.de.md
  content/general/fip-validity/index.en.md
  content/general/fip-validity/index.fr.md
  content/general/generalinformation/index.de.md
  content/general/generalinformation/index.en.md
  content/general/generalinformation/index.fr.md
  content/operator/db/validity.yaml
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/general/list.html
  layouts/partials/navigation.html
Due: yaml-sort-i18n, prettier

fix: adapt feedback
  content/operator/cd/index.de.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
  content/operator/ks/index.en.md
  content/operator/ks/index.fr.md
Due: prettier

fix: Clarify free children option for DB (#918)
  content/operator/db/index.de.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
Due: prettier

fix: remove MIB from SP page
  content/operator/sp/index.de.md
  content/operator/sp/index.en.md
  content/operator/sp/index.fr.md
Due: prettier
