Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]
default_stages: [pre-commit, pre-merge-commit]
minimum_pre_commit_version: 3.2.0
default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.24.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
        exclude: "^layouts/_default/rss.xml$"
      - id: check-yaml
        exclude: "validity.yaml$"
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: yaml-sort-i18n
        name: Sort i18n YAML files
        entry: npx yaml-sort -i
        language: system
        types: [file]
        files: ^i18n/.*\.ya?ml$
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        types_or: [javascript, scss, html, markdown]
        additional_dependencies:
          - "prettier@3.6.2"
          - "prettier-plugin-go-template@0.0.6"

feat: Add loading bar for page changes
  assets/js/loadingBar.js
  assets/js/main.js
  assets/sass/loadingBar.scss
  assets/sass/main.scss
  layouts/baseof.html
Due: prettier

feat: Add support for `color-scheme`
  assets/sass/_variables.scss
Due: prettier

Added information for borders to slovenia
  content/country/slovenia/index.de.md
Due: prettier

chore: Fix linting errors
  content/country/slovenia/index.de.md
  content/operator/sz/index.de.md
Due: prettier

Deleted Trieste EC which no longer runs
  content/country/austria/index.de.md
  content/country/austria/index.en.md
  content/country/austria/index.fr.md
  content/country/italy/index.en.md
  content/country/italy/index.fr.md
  content/operator/oebb/index.de.md
  content/operator/oebb/index.en.md
  content/operator/oebb/index.fr.md
Due: prettier

fix: Add `safe-area-inset` to global padding
  assets/sass/header.scss
  assets/sass/styles.scss
Due: prettier

feat: add hotnat to relevant operators
  content/general/faq/missing-connection-train/index.de.md
  content/general/faq/missing-connection-train/index.en.md
  content/general/faq/missing-connection-train/index.fr.md
  content/operator/db/index.de.md
  content/operator/eurostar/index.de.md
  content/operator/ns/index.de.md
  content/operator/oebb/index.de.md
  content/operator/sbb/index.de.md
  content/operator/sncb/index.de.md
  content/operator/sncf/index.de.md
  i18n/de.yaml
  layouts/_shortcodes/hotnat.html
Due: yaml-sort-i18n, prettier

feat: add ajc to relevant operators
  content/general/faq/missing-connection-train/index.de.md
  content/operator/bls/index.de.md
  content/operator/cd/index.de.md
  content/operator/cfl/index.de.md
  content/operator/db/index.de.md
  content/operator/dsb/index.de.md
  content/operator/fs/index.de.md
  content/operator/gysev/index.de.md
  content/operator/ns/index.de.md
  content/operator/oebb/index.de.md
  content/operator/pkp/index.de.md
  content/operator/renfe/index.de.md
  content/operator/sbb/index.de.md
  content/operator/sncb/index.de.md
  content/operator/sncf/index.de.md
  content/operator/zssk/index.de.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_shortcodes/ajc.html
Due: yaml-sort-i18n, prettier

feat: add ajc to relevant operators
  i18n/de.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

feat: add ajc to relevant operators
  i18n/fr.yaml
Due: yaml-sort-i18n

feat: add ajc to relevant operators
  i18n/de.yaml
Due: yaml-sort-i18n

feat: add images
  content/country/slovenia/image.webp
  content/operator/sz/image.webp
Due: none

fix: minor changes regarding slovenia article
  content/country/slovenia/index.de.md
Due: prettier

fix: add en and fr placeholders to render the images
  content/country/slovenia/index.en.md
  content/country/slovenia/index.fr.md
  content/operator/sz/index.en.md
  content/operator/sz/index.fr.md
Due: prettier

fix: remove slovakia from content-not-available-yet.json
  assets/content-not-available-yet.json
Due: none

fix: minor changes in sz article
  content/operator/sz/index.de.md
Due: prettier

fix: add slovenia and sz to the border points tables
  content/country/austria/index.de.md
  content/country/austria/index.en.md
  content/country/austria/index.fr.md
  content/country/italy/index.de.md
  content/country/italy/index.en.md
  content/country/italy/index.fr.md
Due: prettier

fix: minor changes
  content/operator/sz/index.de.md
Due: prettier

fix: add SZ image
  content/operator/sz/image.webp
Due: none

Commit by Damien BLONDEL 2026 07 02 20:57
  content/country/croatia/image.en.png
  content/country/croatia/image.png
  content/country/croatia/index.fr.md
  content/identify-operator/hz-website/index.fr.md
  content/operator/hz/image.webp
  content/operator/hz/index.fr.md
Due: prettier

Commit by Damien BLONDEL 2026 07 02 21h07
  content/country/croatia/index.fr.md
  content/identify-operator/hz-website/index.fr.md
  content/operator/hz/index.fr.md
Due: prettier

Commit Damien BLONDEL (SNCF) 02/July/2026 21:17
  content/booking/hz-website/index.fr.md
Due: prettier

feat: Add SBB ticket office appointments (#1044)
  content/booking/sbb-ticket-office/index.de.md
  content/booking/sbb-ticket-office/index.en.md
  content/booking/sbb-ticket-office/index.fr.md
Due: prettier

feat: Add additional information to FAQ entry
  content/general/faq/missing-connection-train/index.de.md
  i18n/de.yaml
Due: yaml-sort-i18n, prettier

feat: add initial github codespaces config
  .devcontainer/devcontainer.json
  content/booking/sbb-ticket-office/index.de.md
  content/booking/sbb-ticket-office/index.en.md
  content/booking/sbb-ticket-office/index.fr.md
Due: prettier

feat: add linkedin profile
  layouts/_shortcodes/team-members.html
Due: prettier

feat: add matiko train station office for euskotren
  content/booking/euskotren-ticket-office/index.de.md
  content/booking/euskotren-ticket-office/index.en.md
  content/booking/euskotren-ticket-office/index.fr.md
Due: prettier

feat: ad direct railjet between kopenhagen and prague
  content/country/denmark/index.de.md
  content/country/germany/index.de.md
  content/operator/cd/index.de.md
  content/operator/db/index.de.md
  content/operator/dsb/index.de.md
Due: prettier

feat: translations
  content/country/denmark/index.en.md
  content/country/denmark/index.fr.md
  content/country/germany/index.en.md
  content/country/germany/index.fr.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
  content/operator/dsb/index.en.md
  content/operator/dsb/index.fr.md
Due: prettier

feat: specify r-net
  content/operator/ns/index.de.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
Due: prettier

feat: add zou ! ticket counter
  content/booking/zou-ticket-office/index.de.md
  content/booking/zou-ticket-office/index.en.md
  content/booking/zou-ticket-office/index.fr.md
  content/operator/sncf/index.de.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
Due: prettier

feat: update name of SNCB ticket machine booking option
  content/booking/sncb-ticket-machine/index.de.md
  content/booking/sncb-ticket-machine/index.en.md
  content/booking/sncb-ticket-machine/index.fr.md
Due: prettier

feat: add rhb website
  content/booking/rhb-website/index.de.md
  content/booking/rhb-website/index.en.md
  content/booking/rhb-website/index.fr.md
  content/booking/sbb-website/index.en.md
  content/operator/sp/index.de.md
  content/operator/sp/index.en.md
  content/operator/sp/index.fr.md
Due: prettier

feat: add rhb website
  content/booking/rhb-website/index.fr.md
  content/operator/sp/index.de.md
  content/operator/sp/index.en.md
Due: prettier

feat: add hungary and mav
  assets/content-not-available-yet.json
  content/booking/mav-ticket-office/index.de.md
  content/booking/mav-ticket-office/index.en.md
  content/booking/mav-ticket-office/index.fr.md
  content/booking/mav-website/index.de.md
  content/booking/mav-website/index.en.md
  content/booking/mav-website/index.fr.md
  content/country/hungary/image.webp
  content/country/hungary/index.de.md
  content/country/hungary/index.en.md
  content/country/hungary/index.fr.md
  content/country/romania/index.de.md
  content/country/romania/index.en.md
  content/country/romania/index.fr.md
  content/country/serbia/index.de.md
  content/country/serbia/index.en.md
  content/country/serbia/index.fr.md
  content/country/slovakia/index.de.md
  content/country/slovakia/index.en.md
  content/country/slovakia/index.fr.md
  content/operator/gysev/index.de.md
  content/operator/mav/image.webp
  content/operator/mav/index.de.md
  content/operator/mav/index.en.md
  content/operator/mav/index.fr.md
Due: prettier

feat: add linkedin profile (#1061)
  layouts/_shortcodes/team-members.html
Due: prettier

feat: specify r-net (#1064)
  content/operator/ns/index.de.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
Due: prettier

feat: update name of SNCB ticket machine booking option (#1066)
  content/booking/sncb-ticket-machine/index.de.md
  content/booking/sncb-ticket-machine/index.en.md
  content/booking/sncb-ticket-machine/index.fr.md
Due: prettier

feat: add direct rj kopenhagen prague (#1063)
  content/country/denmark/index.de.md
  content/country/denmark/index.en.md
  content/country/denmark/index.fr.md
  content/country/germany/index.de.md
  content/country/germany/index.en.md
  content/country/germany/index.fr.md
  content/operator/cd/index.de.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
  content/operator/db/index.de.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
  content/operator/dsb/index.de.md
  content/operator/dsb/index.en.md
  content/operator/dsb/index.fr.md
Due: prettier
