Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]
default_stages: [pre-commit, pre-merge-commit]
minimum_pre_commit_version: 3.2.0
default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.24.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
        exclude: "^layouts/_default/rss.xml$"
      - id: check-yaml
        exclude: "validity.yaml$"
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: yaml-sort-i18n
        name: Sort i18n YAML files
        entry: npx yaml-sort -i
        language: system
        types: [file]
        files: ^i18n/.*\.ya?ml$
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        types_or: [javascript, scss, html, markdown]
        additional_dependencies:
          - "prettier@3.6.2"
          - "prettier-plugin-go-template@0.0.6"

feat: add community feedback
  content/booking/ht-ticket-office/index.de.md
  content/booking/ht-ticket-office/index.en.md
  content/booking/ht-ticket-office/index.fr.md
  content/booking/ht-website/index.de.md
  content/booking/ht-website/index.en.md
  content/booking/ht-website/index.fr.md
Due: prettier

feat: replace hugo deprecations
  hugo.yaml
  layouts/_default/baseof.html
  layouts/_default/rss.xml
  layouts/partials/footer.html
  layouts/partials/structuredData.html
Due: prettier

feat: replace hugo deprecations
  hugo.yaml
Due: none

feat: added DB FIP Hotline
  content/booking/db-phone-fip-db/index.de.md
  content/booking/db-phone-fip-db/index.en.md
  content/booking/db-phone-fip-db/index.fr.md
Due: prettier

feat: added DB FIP Hotline to operator pages
  content/operator/bls/index.de.md
  content/operator/bls/index.en.md
  content/operator/bls/index.fr.md
  content/operator/cd/index.de.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
  content/operator/dsb/index.de.md
  content/operator/dsb/index.en.md
  content/operator/dsb/index.fr.md
  content/operator/fs/index.de.md
  content/operator/fs/index.en.md
  content/operator/fs/index.fr.md
  content/operator/kd/index.de.md
  content/operator/kd/index.en.md
  content/operator/kd/index.fr.md
  content/operator/ks/index.de.md
  content/operator/ks/index.en.md
  content/operator/ks/index.fr.md
  content/operator/kw/index.de.md
  content/operator/kw/index.en.md
  content/operator/kw/index.fr.md
  content/operator/ns/index.de.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
  content/operator/oebb/index.de.md
  content/operator/oebb/index.en.md
  content/operator/oebb/index.fr.md
  content/operator/pkp/index.de.md
  content/operator/pkp/index.en.md
  content/operator/pkp/index.fr.md
  content/operator/sbb/index.de.md
  content/operator/sbb/index.en.md
  content/operator/sbb/index.fr.md
  content/operator/sncb/index.de.md
  content/operator/sncb/index.en.md
  content/operator/sncb/index.fr.md
  content/operator/sncf/index.de.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
Due: prettier

feat: adjust ffestiniog wording (#981)
  content/booking/ffestiniogtravel-email/index.en.md
  content/booking/ffestiniogtravel-email/index.fr.md
Due: prettier

feat: update booking fee information (#980)
  content/booking/railtourguide-website/index.de.md
  content/booking/railtourguide-website/index.en.md
  content/booking/railtourguide-website/index.fr.md
Due: prettier

feat: add community feedback (#982)
  content/booking/ht-ticket-office/index.de.md
  content/booking/ht-ticket-office/index.en.md
  content/booking/ht-ticket-office/index.fr.md
  content/booking/ht-website/index.de.md
  content/booking/ht-website/index.en.md
  content/booking/ht-website/index.fr.md
Due: prettier

feat: fix BLS, CS, FS
  content/operator/bls/index.fr.md
  content/operator/cd/index.fr.md
  content/operator/fs/index.fr.md
Due: prettier

feat: replace hugo deprecations (#983)
  hugo.yaml
  layouts/_default/baseof.html
  layouts/_default/rss.xml
  layouts/partials/footer.html
  layouts/partials/structuredData.html
Due: prettier

refactor: Read updated date from updated shortcode
  content/news/1/index.de.md
  content/news/1/index.en.md
  content/news/1/index.fr.md
  content/news/10/index.de.md
  content/news/10/index.en.md
  content/news/10/index.fr.md
  content/news/2/index.de.md
  content/news/2/index.en.md
  content/news/2/index.fr.md
  content/news/4/index.de.md
  content/news/4/index.en.md
  content/news/4/index.fr.md
  layouts/news/single.html
  layouts/partials/related.html
  layouts/partials/teaser.html
  layouts/partials/updateDate.html
  layouts/shortcodes/update.html
Due: prettier

feat: Consider updated date for news sorting
  layouts/_default/home.html
  layouts/news/list.html
  layouts/news/single.html
  layouts/partials/helper/sortedNews.html
Due: prettier

feat: Add sources heading to news articles
  content/news/10/index.de.md
  content/news/10/index.en.md
  content/news/10/index.fr.md
  content/news/4/index.de.md
  content/news/4/index.en.md
  content/news/4/index.fr.md
  content/news/5/index.de.md
  content/news/5/index.en.md
  content/news/5/index.fr.md
  content/news/6/index.de.md
  content/news/6/index.en.md
  content/news/6/index.fr.md
Due: prettier

feat: Add support for Decap CMS
  hugo.yaml
  package-lock.json
  package.json
  static/admin/config.yml
  static/admin/index.html
  static/admin/shortcodes.js
Due: prettier

chore: Run prek hooks
  static/admin/shortcodes.js
Due: prettier

feat: Add netlify URL as site_domain
  static/admin/config.yml
Due: none

fix: Remove netlify-identity-widget
  hugo.yaml
  package-lock.json
  package.json
  static/admin/index.html
Due: prettier

fix: Remove site_domain again
  static/admin/config.yml
Due: none

Revert "fix: Remove site_domain again"
  static/admin/config.yml
Due: none

feat: Add identify operator
  static/admin/config.yml
  static/admin/shortcodes.js
Due: prettier

feat: Add AŽD as operator without FIP
  content/country/czechia/index.de.md
  content/country/czechia/index.en.md
  content/country/czechia/index.fr.md
Due: prettier

feat: Add FIP Guide logo
  static/admin/config.yml
Due: none

feat: Add singular labels
  package-lock.json
  package.json
  static/admin/config.yml
Due: none

feat: Several shortcode optimizations
  static/admin/config.yml
  static/admin/shortcodes.js
Due: prettier

fix: Switch back to markdown
  static/admin/config.yml
  static/admin/shortcodes.js
Due: prettier

docs: added information regarding traivelling.com
  content/operator/eurostar/index.de.md
Due: prettier

Apply suggestions from code review
  content/operator/cd/index.de.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
Due: prettier

feat: Add AŽD as operator without FIP (#992)
  content/country/czechia/index.de.md
  content/country/czechia/index.en.md
  content/country/czechia/index.fr.md
Due: prettier

fix: update CD maps (#957)
  content/operator/cd/index.de.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
Due: prettier

fix: update CFR reservation prices to reflect new rates
  content/booking/cfr-ticket-office/index.de.md
  content/booking/cfr-ticket-office/index.en.md
  content/booking/cfr-ticket-office/index.fr.md
  content/operator/cfr/index.de.md
  content/operator/cfr/index.en.md
  content/operator/cfr/index.fr.md
Due: prettier

fix: clarify Stena Line BV booking requirements
  content/booking/stena-line-bv-email/index.de.md
  content/booking/stena-line-bv-email/index.en.md
  content/booking/stena-line-bv-email/index.fr.md
  content/booking/stena-line-bv-phone/index.de.md
  content/booking/stena-line-bv-phone/index.en.md
  content/booking/stena-line-bv-phone/index.fr.md
Due: prettier

feat: add email booking mail templates
  content/booking/attica-email/index.de.md
  content/booking/attica-email/index.en.md
  content/booking/attica-email/index.fr.md
  content/booking/ffestiniogtravel-email/index.de.md
  content/booking/ffestiniogtravel-email/index.en.md
  content/booking/ffestiniogtravel-email/index.fr.md
  content/booking/internationalrail-email/index.de.md
  content/booking/internationalrail-email/index.en.md
  content/booking/internationalrail-email/index.fr.md
  content/booking/stena-line-bv-email/index.de.md
  content/booking/stena-line-bv-email/index.en.md
  content/booking/stena-line-bv-email/index.fr.md
  content/booking/stena-line-limited-email/index.de.md
  content/booking/stena-line-limited-email/index.en.md
  content/booking/stena-line-limited-email/index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/booking-links.html
  layouts/partials/button.html
Due: yaml-sort-i18n, prettier

Revert "feat: add email booking mail templates"
  content/booking/attica-email/index.de.md
  content/booking/attica-email/index.en.md
  content/booking/attica-email/index.fr.md
  content/booking/ffestiniogtravel-email/index.de.md
  content/booking/ffestiniogtravel-email/index.en.md
  content/booking/ffestiniogtravel-email/index.fr.md
  content/booking/internationalrail-email/index.de.md
  content/booking/internationalrail-email/index.en.md
  content/booking/internationalrail-email/index.fr.md
  content/booking/stena-line-bv-email/index.de.md
  content/booking/stena-line-bv-email/index.en.md
  content/booking/stena-line-bv-email/index.fr.md
  content/booking/stena-line-limited-email/index.de.md
  content/booking/stena-line-limited-email/index.en.md
  content/booking/stena-line-limited-email/index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/booking-links.html
  layouts/partials/button.html
Due: yaml-sort-i18n, prettier

fix: use FIP card photo wording
  content/booking/stena-line-bv-email/index.de.md
  content/booking/stena-line-bv-email/index.en.md
  content/booking/stena-line-bv-email/index.fr.md
  content/booking/stena-line-bv-phone/index.de.md
  content/booking/stena-line-bv-phone/index.en.md
  content/booking/stena-line-bv-phone/index.fr.md
Due: prettier

fix: Show tag again & less disturbing sidebar
  layouts/news/single.html
  layouts/partials/helper/sortedNews.html
  layouts/partials/related.html
  layouts/partials/teaser.html
Due: prettier

fix: correct reservation prices formatting to use decimal points in english
  content/booking/cfr-ticket-office/index.en.md
  content/operator/cfr/index.en.md
Due: prettier

fix: update FIP card wording in booking information
  content/booking/stena-line-bv-email/index.de.md
  content/booking/stena-line-bv-email/index.en.md
  content/booking/stena-line-bv-email/index.fr.md
  content/booking/stena-line-bv-phone/index.de.md
  content/booking/stena-line-bv-phone/index.en.md
  content/booking/stena-line-bv-phone/index.fr.md
Due: prettier

fix: change warning highlight to important for booking requirements
  content/booking/stena-line-bv-email/index.de.md
  content/booking/stena-line-bv-email/index.en.md
  content/booking/stena-line-bv-email/index.fr.md
  content/booking/stena-line-bv-phone/index.de.md
  content/booking/stena-line-bv-phone/index.en.md
  content/booking/stena-line-bv-phone/index.fr.md
Due: prettier
