Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

yaml-sort-i18n:
  name: Sort i18n YAML files
  entry: npx yaml-sort -i
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-go-template@0.0.6

fix: update references to meineDB and Personalportal in multiple languages
  content/application/db/index.de.md
  content/application/db/index.en.md
  content/application/db/index.fr.md
  content/general/taxation/index.de.md
  content/general/taxation/index.en.md
  content/general/taxation/index.fr.md
  content/news/14/image.webp
  content/news/14/index.de.md
  content/news/14/index.en.md
  content/news/14/index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_shortcodes/taxation-embed.html
Due: yaml-sort-i18n, prettier

fix: relocate taxationembed script
  assets/js/taxationEmbed.js
  layouts/_shortcodes/taxation-embed.html
Due: prettier

fix: update taxation warnings for selected operators in multiple languages
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

fix: replace Personalportal with meineDB
  content/application/db/index.de.md
  content/application/db/index.en.md
  content/application/db/index.fr.md
Due: prettier

feat(cms): Add more labels
  layouts/admin/section.cmsconfig.yml
  static/admin/shortcodes.js
Due: prettier

feat: Add support for operators_without_fip param
  layouts/admin/section.cmsconfig.yml
Due: none

fix: update news date
  content/news/14/index.de.md
  content/news/14/index.en.md
  content/news/14/index.fr.md
Due: prettier

fix: loading template
  assets/js/taxationEmbed.js
  layouts/_shortcodes/taxation-embed.html
Due: prettier

feat: Add taxation calculator for DB employees (#814)
  assets/js/taxationEmbed.js
  assets/sass/_variables.scss
  assets/sass/main.scss
  assets/sass/taxationEmbed.scss
  content/application/db/index.de.md
  content/application/db/index.en.md
  content/application/db/index.fr.md
  content/general/taxation/index.de.md
  content/general/taxation/index.en.md
  content/general/taxation/index.fr.md
  content/news/14/image.webp
  content/news/14/index.de.md
  content/news/14/index.en.md
  content/news/14/index.fr.md
  content/news/14/tax-calculator.de.webp
  content/news/14/tax-calculator.en.webp
  content/news/14/tax-calculator.fr.webp
  hugo.yaml
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_partials/highlight.html
  layouts/_partials/train-category.html
  layouts/_shortcodes/taxation-embed.html
Due: yaml-sort-i18n, prettier

feat(cms): Add flag thumbnail for countries
  layouts/admin/section.cmsconfig.yml
  package-lock.json
  package.json
Due: none

feat: add north-macedonia and zrsm
  assets/content-not-available-yet.json
  content/booking/zrsm-ticket-office/index.de.md
  content/booking/zrsm-ticket-office/index.en.md
  content/booking/zrsm-ticket-office/index.fr.md
  content/country/greece/index.de.md
  content/country/greece/index.en.md
  content/country/greece/index.fr.md
  content/country/north-macedonia/image.webp
  content/country/north-macedonia/index.de.md
  content/country/north-macedonia/index.en.md
  content/country/north-macedonia/index.fr.md
  content/country/serbia/index.de.md
  content/country/serbia/index.en.md
  content/country/serbia/index.fr.md
  content/identify-operator/zrsm-website/index.de.md
  content/identify-operator/zrsm-website/index.en.md
  content/identify-operator/zrsm-website/index.fr.md
  content/operator/zrsm/image.webp
  content/operator/zrsm/index.de.md
  content/operator/zrsm/index.en.md
  content/operator/zrsm/index.fr.md
  layouts/_partials/content.html
Due: prettier

feat: finalized information
  assets/images/flags/north-macedonia.webp
  content/booking/zrsm-ticket-office/index.de.md
  content/booking/zrsm-ticket-office/index.en.md
  content/booking/zrsm-ticket-office/index.fr.md
  content/country/north-macedonia/index.de.md
  content/operator/attica/index.de.md
  content/operator/attica/index.en.md
  content/operator/attica/index.fr.md
  content/operator/bdz/index.de.md
  content/operator/bdz/index.en.md
  content/operator/bdz/index.fr.md
  content/operator/cfr/index.de.md
  content/operator/cfr/index.en.md
  content/operator/cfr/index.fr.md
  content/operator/ht/index.de.md
  content/operator/ht/index.en.md
  content/operator/ht/index.fr.md
  content/operator/sv/index.de.md
  content/operator/sv/index.en.md
  content/operator/sv/index.fr.md
  content/operator/zfbh/index.de.md
  content/operator/zfbh/index.en.md
  content/operator/zfbh/index.fr.md
  content/operator/zpcg/index.de.md
  content/operator/zpcg/index.en.md
  content/operator/zpcg/index.fr.md
  content/operator/zrs/index.de.md
  content/operator/zrs/index.en.md
  content/operator/zrs/index.fr.md
  content/operator/zrsm/index.de.md
  content/operator/zrsm/index.en.md
  content/operator/zrsm/index.fr.md
Due: prettier

fix: prettier
  content/country/greece/index.de.md
  content/country/greece/index.en.md
  content/country/greece/index.fr.md
  content/country/serbia/index.de.md
  content/country/serbia/index.en.md
  content/country/serbia/index.fr.md
Due: prettier

fix: fix europe map
  static/map_europe.svg
Due: none

build: Package Sveltia CMS using Vite
  .github/workflows/deploy.yaml
  .github/workflows/pullrequest.yaml
  .gitignore
  CONTRIBUTING.md
  assets/admin/fields.js
  assets/admin/index.html
  assets/admin/main.js
  assets/admin/shortcodes.js
  assets/admin/style.css
  hugo.yaml
  netlify.toml
  package-lock.json
  package.json
  static/admin/fields.js
  static/admin/shortcodes.js
  vite.config.js
Due: prettier

feat(cms): Add automatic prettier formatting before save
  assets/admin/main.js
  assets/admin/preSave.js
  package-lock.json
  package.json
Due: prettier

Typos
  content/operator/bls/index.en.md
Due: prettier

Typos
  content/operator/bls/index.fr.md
Due: prettier

Typos
  content/operator/bls/index.de.md
Due: prettier

STB no longer operates any trains nor tracks
  content/operator/sp/index.de.md
Due: prettier

STB no longer operates any trains nor tracks
  content/operator/sp/index.en.md
Due: prettier

STB no longer operates any trains nor tracks
  content/operator/sp/index.fr.md
Due: prettier

Remove section about Sensetalbahn + minor fixes (#1222)
  content/operator/bls/index.de.md
  content/operator/bls/index.en.md
  content/operator/bls/index.fr.md
  content/operator/sp/index.de.md
  content/operator/sp/index.en.md
  content/operator/sp/index.fr.md
Due: prettier

fix: applied review comments
  content/application/cd/validity.yaml
  content/application/db/validity.yaml
  content/application/gb/validity.yaml
  content/application/ns/validity.yaml
  content/application/sncb/validity.yaml
  content/application/sncf/validity.yaml
  content/booking/zrsm-ticket-office/index.de.md
  content/country/north-macedonia/image.webp
  content/country/north-macedonia/index.de.md
  content/operator/zrsm/image.webp
Due: prettier

feat: rename title MÁV to MÁV-START
  content/operator/mav/index.de.md
  content/operator/mav/index.en.md
  content/operator/mav/index.fr.md
Due: prettier

feat: add information about KMŁ busses
  content/operator/kml/index.de.md
  content/operator/kml/index.en.md
  content/operator/kml/index.fr.md
Due: prettier

feat: moved information to oebb-operator-page
  content/booking/oebb-website/index.de.md
  content/operator/oebb/index.de.md
  content/operator/oebb/index.en.md
  content/operator/oebb/index.fr.md
  content/operator/oebb/oebb_brennerzuschlag.webp
Due: prettier

feat: add information about KMŁ busses (#1224)
  content/operator/kml/index.de.md
  content/operator/kml/index.en.md
  content/operator/kml/index.fr.md
Due: prettier

feat: rename title MÁV to MÁV-START (#1223)
  content/operator/mav/index.de.md
  content/operator/mav/index.en.md
  content/operator/mav/index.fr.md
Due: prettier

feat: add brennerzuschlag to oebb website (#1205)
  content/operator/oebb/index.de.md
  content/operator/oebb/index.en.md
  content/operator/oebb/index.fr.md
  content/operator/oebb/oebb_brennerzuschlag.webp
Due: prettier

build: Update frontend versions
  package-lock.json
  package.json
Due: none

refactor(cms): Move aliases field after content_images
  layouts/admin/section.cmsconfig.yml
Due: none

fix: Rename Czechia content image to remove locale suffix
  content/country/czechia/image.webp
  content/country/czechia/index.de.md
  content/country/czechia/index.en.md
  content/country/czechia/index.fr.md
Due: prettier

feat(cms): add labels for select options
  static/admin/shortcodes.js
Due: prettier

fix(cms): use bundled React and restore select labels
  assets/admin/fields.js
  assets/admin/shortcodes.js
  static/admin/index.html
Due: prettier

chore: stop tracking built admin index
  static/admin/index.html
Due: prettier

build: Package Sveltia CMS using Vite
  .github/workflows/deploy.yaml
  .github/workflows/pullrequest.yaml
  .gitignore
  CONTRIBUTING.md
  assets/admin/fields.js
  assets/admin/index.html
  assets/admin/main.js
  assets/admin/shortcodes.js
  assets/admin/style.css
  hugo.yaml
  netlify.toml
  package-lock.json
  package.json
  vite.config.js
Due: prettier

fix: update links
  content/operator/oebb/index.de.md
  content/operator/oebb/index.en.md
  content/operator/oebb/index.fr.md
Due: prettier

Path conditions:
  yaml-sort-i18n: any of: ^i18n/.*\.ya?ml$
  prettier: any of: \.(js|mjs|cjs)$, \.scss$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$
