Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

yaml-sort-i18n:
  name: Sort i18n YAML files
  entry: npx yaml-sort -i
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-go-template@0.0.6

feat: add KML (#772)
  assets/images/logos/kml.svg
  assets/sass/fip-validity.scss
  content/booking/kml-ticket-office/index.de.md
  content/booking/kml-ticket-office/index.en.md
  content/booking/kml-ticket-office/index.fr.md
  content/country/poland/index.de.md
  content/country/poland/index.en.md
  content/country/poland/index.fr.md
  content/news/9/image.webp
  content/news/9/index.de.md
  content/news/9/index.en.md
  content/news/9/index.fr.md
  content/operator/kml/index.de.md
  content/operator/kml/index.en.md
  content/operator/kml/index.fr.md
  content/operator/kw/index.de.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/fip-validity/issuer-dropdown.html
Due: yaml-sort-i18n, prettier

hotfix: kml date
  content/news/9/index.de.md
  content/news/9/index.en.md
  content/news/9/index.fr.md
Due: prettier

fix: add kml pic
  content/operator/kml/image.webp
Due: none

hotfix: kml date (#799)
  content/news/9/index.de.md
  content/news/9/index.en.md
  content/news/9/index.fr.md
  content/operator/kml/image.webp
Due: prettier

fix: Filter out headings inside dialogs for toc highlighting (#792)
  assets/js/highlightHeadline.js
Due: prettier

feat: spelling update
  content/booking/sncf-phone/index.de.md
  content/booking/sncf-phone/index.en.md
  content/booking/sncf-phone/index.fr.md
Due: prettier

fix: Restrict SNCF phone to landline numbers (#795)
  content/booking/sncf-phone/index.de.md
  content/booking/sncf-phone/index.en.md
  content/booking/sncf-phone/index.fr.md
Due: prettier

feat: spelling update
  content/generalinformation/_index.de.md
  content/generalinformation/_index.en.md
  content/generalinformation/_index.fr.md
Due: prettier

feat: add i11n, refactoring
  assets/sass/fonts.scss
  assets/sass/form.scss
  i18n/de.yaml
  layouts/shortcodes/contact-form.html
Due: yaml-sort-i18n, prettier

feat: add i11n
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

fix: add exceptions, corrected one link
  .github/workflows/linkcheck.yaml
  content/booking/oebb-phone/index.de.md
Due: prettier

fix: add exceptions, corrected one link
  .github/workflows/linkcheck.yaml
Due: none

fix: render "Operators supporting FIP" as list in print version
  assets/sass/button.scss
  assets/sass/contentNavigation.scss
Due: prettier

feat: add RailTourGuide as booking option
  content/booking/railtourguide-website/index.de.md
  content/booking/railtourguide-website/index.en.md
  content/booking/railtourguide-website/index.fr.md
  content/operator/eurostar/index.de.md
  content/operator/eurostar/index.en.md
  content/operator/eurostar/index.fr.md
Due: prettier

feat: add RailTourGuide detail information
  content/booking/railtourguide-website/index.de.md
  content/booking/railtourguide-website/index.en.md
  content/booking/railtourguide-website/index.fr.md
Due: prettier

fix: add eng and fr version
  content/booking/oebb-phone/index.en.md
  content/booking/oebb-phone/index.fr.md
Due: prettier

fix: broken links (#801)
  .github/workflows/linkcheck.yaml
  content/booking/oebb-phone/index.de.md
  content/booking/oebb-phone/index.en.md
  content/booking/oebb-phone/index.fr.md
Due: prettier

fix: Remove duplicate identify-operator on Ireland page (#791)
  content/country/ireland/index.de.md
Due: prettier

fix: render "Operators supporting FIP" as list in print version (#802)
  assets/sass/button.scss
  assets/sass/contentNavigation.scss
Due: prettier

feat: add options
  layouts/shortcodes/contact-form.html
Due: prettier

feat: finalized german version
  i18n/de.yaml
  layouts/shortcodes/contact-form.html
Due: yaml-sort-i18n, prettier

feat: translation
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

fix: add some minor improvements for wording
  content/fip-validity/index.de.md
  content/fip-validity/index.en.md
  content/fip-validity/index.fr.md
  content/generalinformation/_index.de.md
  content/generalinformation/_index.en.md
  content/generalinformation/_index.fr.md
  content/operator/db/validity.yaml
  content/operator/gb/validity.yaml
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n, prettier

feat: translation
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

fix: wording
  content/country/france/index.de.md
  content/country/france/index.en.md
  content/country/france/index.fr.md
  content/country/germany/index.de.md
  content/country/germany/index.en.md
  content/country/germany/index.fr.md
  content/generalinformation/_index.de.md
  content/generalinformation/_index.en.md
  content/operator/db/validity.yaml
Due: prettier

feat: Add general information to FIP issuer page (#777)
  assets/sass/fip-validity.scss
  content/country/france/index.de.md
  content/country/france/index.en.md
  content/country/france/index.fr.md
  content/country/germany/index.de.md
  content/country/germany/index.en.md
  content/country/germany/index.fr.md
  content/fip-validity/index.de.md
  content/fip-validity/index.en.md
  content/fip-validity/index.fr.md
  content/generalinformation/_index.de.md
  content/generalinformation/_index.en.md
  content/generalinformation/_index.fr.md
  content/generalinformation/faq/number-of-fields/_index.de.md
  content/generalinformation/faq/number-of-fields/_index.en.md
  content/generalinformation/faq/number-of-fields/_index.fr.md
  content/operator/db/validity.yaml
  content/operator/gb/validity.yaml
  content/operator/sncb/validity.yaml
  content/operator/sncf/validity.yaml
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/fip-validity/comparison.html
  layouts/partials/fip-validity/dialog.html
Due: yaml-sort-i18n, prettier

feat: initial commit
  assets/content-not-available-yet.json
  content/country/norway/index.de.md
  content/country/norway/index.en.md
  content/country/norway/index.fr.md
Due: prettier

feat: add norway information
  content/country/norway/index.de.md
  content/country/norway/index.en.md
  content/identify-operator/entur-website/image.de.webp
  content/identify-operator/entur-website/index.de.md
  content/identify-operator/entur-website/index.en.md
  content/identify-operator/entur-website/index.fr.md
Due: prettier

fix: Fix Renfe FIP issuer content (#741)
  content/operator/renfe/index.en.md
Due: prettier

feat: Add news article about SNCB ending on-board ticket sales and update SNCB operator pages
  content/news/10/image.webp
  content/news/10/index.de.md
  content/news/10/index.en.md
  content/news/10/index.fr.md
  content/operator/sncb/index.de.md
  content/operator/sncb/index.en.md
  content/operator/sncb/index.fr.md
Due: prettier

fix: update THURBO routes and cross-border information (#785)
  content/operator/sp/index.de.md
  content/operator/sp/index.en.md
  content/operator/sp/index.fr.md
Due: prettier

feat: redesign 404 page with error image and fix GitHub Pages 404 routing
  assets/sass/floatImage.scss
  content/404/error.webp
  content/404/index.de.md
  content/404/index.en.md
  content/404/index.fr.md
  static/404.html
Due: prettier

feat: add Barcelona Cercanías ticket gate info to Renfe page
  content/operator/renfe/index.de.md
  content/operator/renfe/index.en.md
  content/operator/renfe/index.fr.md
Due: prettier

feat: add Barcelona Cercanías ticket gate info to Renfe page (#811)
  content/operator/renfe/index.de.md
  content/operator/renfe/index.en.md
  content/operator/renfe/index.fr.md
Due: prettier

fix: update THURBO routes and cross-border information (#809)
  content/operator/sp/index.de.md
  content/operator/sp/index.en.md
  content/operator/sp/index.fr.md
Due: prettier

fix: Fix Renfe FIP issuer content (#741) (#807)
  content/operator/renfe/index.en.md
Due: prettier

feat: style fixes
  assets/sass/fonts.scss
  assets/sass/form.scss
  assets/sass/styles.scss
  i18n/de.yaml
Due: yaml-sort-i18n, prettier

feat: style fixes
  assets/sass/form.scss
Due: prettier

Path conditions:
  yaml-sort-i18n: any of: ^i18n/.*\.ya?ml$
  prettier: any of: \.(js|mjs|cjs)$, \.scss$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$
