Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]
default_stages: [pre-commit, pre-merge-commit]
minimum_pre_commit_version: 3.2.0
default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.24.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
        exclude: "^layouts/_default/rss.xml$"
      - id: check-yaml
        exclude: "validity.yaml$"
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: yaml-sort-i18n
        name: Sort i18n YAML files
        entry: npx yaml-sort -i
        language: system
        types: [file]
        files: ^i18n/.*\.ya?ml$
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        types_or: [javascript, scss, html, markdown]
        additional_dependencies:
          - "prettier@3.6.2"
          - "prettier-plugin-go-template@0.0.6"

feat: add vy and entur booking ways
  content/booking/entur-chat/index.de.md
  content/booking/entur-chat/index.en.md
  content/booking/entur-chat/index.fr.md
  content/booking/entur-phone/index.de.md
  content/booking/entur-phone/index.en.md
  content/booking/entur-phone/index.fr.md
  content/booking/entur-ticket-office/index.de.md
  content/booking/entur-ticket-office/index.en.md
  content/booking/entur-ticket-office/index.fr.md
  content/country/norway/index.de.md
  content/operator/vy/index.de.md
  content/operator/vy/index.en.md
  content/operator/vy/index.fr.md
Due: prettier

feat: add images
  content/country/norway/image.webp
  content/operator/vy/image.webp
Due: none

feat: finalized vy
  content/country/norway/index.de.md
  content/operator/vy/index.de.md
Due: prettier

feat: initial
  assets/js/main.js
  assets/js/taxationCalculator.js
  assets/js/taxationInputs.js
  assets/js/taxationPlanning.js
  assets/js/taxationUi.js
  assets/sass/header.scss
  assets/sass/main.scss
  assets/sass/taxation.scss
  content/operator/db/taxation.yaml
  content/operator/db/validity.yaml
  content/taxation/index.de.md
  content/taxation/index.en.md
  content/taxation/index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/fip-validity/comparison.html
  layouts/shortcodes/taxation-calculator.html
  layouts/shortcodes/taxation-info.html
  package-lock.json
  requirements.md
Due: yaml-sort-i18n, prettier

Ergänzung Informationen Metro RET
  content/operator/stl/index.de.md
Due: prettier

Hinzufügen der Infos zur Buchung des Zuschlags für kommerzielle Züge auf der Seite der CD.
  content/operator/cd/index.de.md
Due: prettier

fix: some improvements
  assets/js/taxationCalculator.js
  assets/js/taxationIssuerSelection.js
  assets/js/taxationPlanning.js
  assets/sass/taxation.scss
  content/operator/db/taxation.yaml
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/shortcodes/taxation-calculator.html
Due: yaml-sort-i18n, prettier

Added PE to SBB
  content/operator/sbb/index.de.md
Due: prettier

Added Info on Metro Rotterdam to French and English
  content/operator/stl/index.en.md
  content/operator/stl/index.fr.md
Due: prettier

Added info on CD supplement online purchase in French and English
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
Due: prettier

Added PE to SBB French and English
  content/operator/sbb/index.de.md
  content/operator/sbb/index.en.md
  content/operator/sbb/index.fr.md
Due: prettier

fix: cleanup
  assets/js/taxationCalculator.js
  assets/js/taxationInputs.js
  assets/js/taxationPlanning.js
  assets/js/taxationUtils.js
  assets/sass/taxation.scss
Due: prettier

fix: identify operater poland
  content/identify-operator/plk-website/image.webp
Due: none

fix: update ticket sale date and link formatting for SNCB news articles
  content/news/10/index.de.md
  content/news/10/index.en.md
  content/news/10/index.fr.md
Due: prettier

fix: change pull_request to pull_request_target in workflow
  .github/workflows/comment.yaml
Due: none

fix: identify operater poland (#818)
  .github/workflows/comment.yaml
  content/identify-operator/plk-website/image.webp
Due: none

fix: run prek
  content/operator/sbb/index.de.md
  content/operator/sbb/index.en.md
  content/operator/sbb/index.fr.md
  content/operator/stl/index.fr.md
Due: prettier

feat: Add news article about SNCB ending on-board ticket sales (#808)
  content/news/10/image.webp
  content/news/10/index.de.md
  content/news/10/index.en.md
  content/news/10/index.fr.md
  content/operator/sncb/index.de.md
  content/operator/sncb/index.en.md
  content/operator/sncb/index.fr.md
Due: prettier

fix: clarify reservation requirement for SBB panoramic trains
  content/operator/sbb/index.de.md
  content/operator/sbb/index.en.md
  content/operator/sbb/index.fr.md
Due: prettier

Ergänzung Informationen Metro RET (#815)
  content/operator/cd/index.de.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
  content/operator/sbb/index.de.md
  content/operator/sbb/index.en.md
  content/operator/sbb/index.fr.md
  content/operator/stl/index.de.md
  content/operator/stl/index.en.md
  content/operator/stl/index.fr.md
Due: prettier

fix: minor improvements
  content/country/norway/index.de.md
  content/identify-operator/entur-website/image.de.webp
  content/operator/vy/index.de.md
Due: prettier

feat: Add OEBB FIP validity information
  content/operator/oebb/validity.yaml
Due: none

fix: Update description of DB FIP coupon
  content/operator/db/validity.yaml
Due: none

fix: Sizing of icons
  assets/sass/contentNavigation.scss
  assets/sass/navigation.scss
  assets/sass/styles.scss
  layouts/news/single.html
Due: prettier

fix: Make search icons work again
  assets/sass/search.scss
Due: prettier

feat: Add more space for startpage teaser
  assets/sass/startpage.scss
Due: prettier

refactor: Replace icon font with SVG icons
  assets/js/darkmode.js
  assets/sass/content.scss
  assets/sass/contentNavigation.scss
  assets/sass/dropdown.scss
  assets/sass/expander.scss
  assets/sass/fonts.scss
  assets/sass/navigation.scss
  assets/sass/styles.scss
  assets/sass/teaser.scss
  hugo.yaml
  layouts/_default/rss.xml
  layouts/partials/icon.html
  layouts/partials/strip-material-icons.html
  layouts/partials/teaser.html
  package-lock.json
  package.json
Due: prettier

fix: Snackbar positioning
  assets/sass/anchorlink.scss
Due: prettier

fix: Improve icon font sizes
  assets/sass/fonts.scss
  assets/sass/teaser.scss
Due: prettier

fix: Darkmode icon switching
  assets/js/darkmode.js
Due: prettier

fix: Sizing of navigation button icons
  assets/sass/navigation.scss
Due: prettier

fix: Subdirectory search icon positioning
  assets/sass/search.scss
Due: prettier

fix: Related news icon positioning
  assets/sass/contentNavigation.scss
  assets/sass/fonts.scss
Due: prettier

feat: add stl ticket-office
  content/booking/kw-website/index.de.md
  content/booking/stena-line-bv-ticket-office/index.de.md
  content/booking/stena-line-bv-ticket-office/index.en.md
  content/booking/stena-line-bv-ticket-office/index.fr.md
  content/operator/stl/index.de.md
  content/operator/stl/index.en.md
  content/operator/stl/index.fr.md
Due: prettier

feat: add sll email
  content/booking/stena-line-bv-ticket-office/index.fr.md
  content/booking/stena-line-limited-email/index.de.md
  content/booking/stena-line-limited-email/index.en.md
  content/booking/stena-line-limited-email/index.fr.md
  content/operator/sll/index.de.md
  content/operator/sll/index.en.md
  content/operator/sll/index.fr.md
Due: prettier

feat: Add OEBB FIP validity information (#793)
  content/operator/db/validity.yaml
  content/operator/oebb/validity.yaml
Due: none

fix: Missing translation keys for fipValidity
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/fip-validity/comparison.html
Due: yaml-sort-i18n, prettier

build: Bump hugo version to latest version
  .github/workflows/deploy.yaml
  .github/workflows/pullrequest.yaml
  hugo.yaml
  netlify.toml
Due: none

fix: Add padding-bottom to mobile menu
  assets/sass/navigation.scss
Due: prettier

fix: update cabin reservation wording for clarity in booking sections
  content/booking/stena-line-bv-email/index.de.md
  content/booking/stena-line-bv-email/index.en.md
  content/booking/stena-line-bv-email/index.fr.md
  content/booking/stena-line-bv-phone/index.de.md
  content/booking/stena-line-bv-phone/index.en.md
  content/booking/stena-line-bv-phone/index.fr.md
  content/booking/stena-line-bv-ticket-office/index.de.md
  content/booking/stena-line-bv-ticket-office/index.en.md
  content/booking/stena-line-bv-ticket-office/index.fr.md
  content/booking/stena-line-limited-email/index.de.md
  content/booking/stena-line-limited-email/index.en.md
  content/booking/stena-line-limited-email/index.fr.md
  content/booking/stena-line-limited-phone/index.de.md
  content/booking/stena-line-limited-phone/index.en.md
  content/booking/stena-line-limited-phone/index.fr.md
Due: prettier
