Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

yaml-sort-i18n:
  name: Sort i18n YAML files
  entry: npx yaml-sort -i
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-go-template@0.0.6

fix: Merge "Graz–Köflacher Bahn" and GKB (#840)
  content/country/austria/index.de.md
  content/country/austria/index.en.md
  content/country/austria/index.fr.md
Due: prettier

fix: Missing translation keys for fipValidity (#825)
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/fip-validity/comparison.html
Due: yaml-sort-i18n, prettier

feat: add Ffestiniog Travel booking ways
  content/booking/ffestiniogtravel-email/index.de.md
  content/booking/ffestiniogtravel-email/index.en.md
  content/booking/ffestiniogtravel-email/index.fr.md
  content/booking/ffestiniogtravel-phone/index.de.md
  content/booking/ffestiniogtravel-phone/index.en.md
  content/booking/ffestiniogtravel-phone/index.fr.md
  content/booking/railtourguide-website/index.de.md
  content/booking/railtourguide-website/index.en.md
  content/booking/railtourguide-website/index.fr.md
  content/operator/eurostar/index.de.md
  content/operator/eurostar/index.en.md
  content/operator/eurostar/index.fr.md
Due: prettier

feat: add fee
  content/booking/ffestiniogtravel-email/index.de.md
  content/booking/ffestiniogtravel-email/index.en.md
  content/booking/ffestiniogtravel-email/index.fr.md
  content/booking/ffestiniogtravel-phone/index.de.md
  content/booking/ffestiniogtravel-phone/index.en.md
  content/booking/ffestiniogtravel-phone/index.fr.md
Due: prettier

fix: Set correct aria-label
  assets/js/search.js
Due: prettier

fix: Hide "#" from screenreaders
  assets/sass/search.scss
Due: prettier

fix: Improve visibility of highlight
  assets/sass/search.scss
Due: prettier

feat: Add hover effect to search results
  assets/sass/search.scss
Due: prettier

build: Bump pagefind version
  package-lock.json
  package.json
Due: none

refactor: Move parts of search to body
  layouts/_default/baseof.html
  layouts/partials/head/search.html
  layouts/partials/search.html
Due: prettier

feat: Add outline-offset for search elements
  assets/sass/search.scss
Due: prettier

feat: Localize the "open search" aria-label
  assets/js/search.js
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_default/home.html
  layouts/partials/search-button.html
Due: yaml-sort-i18n, prettier

feat: Add transition for background in search
  assets/sass/search.scss
Due: prettier

fix: Also show search border in light mode
  assets/sass/search.scss
Due: prettier

fix: Remove border from Clear button in search
  assets/sass/search.scss
Due: prettier

feat: Switch to pagefind component UI (#837)
  assets/js/darkmode.js
  assets/js/main.js
  assets/js/search.js
  assets/sass/_variables.scss
  assets/sass/fonts.scss
  assets/sass/header.scss
  assets/sass/navigation.scss
  assets/sass/search.scss
  assets/sass/startpage.scss
  assets/sass/styles.scss
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_default/baseof.html
  layouts/_default/home.html
  layouts/country/single.html
  layouts/generalinformation/list.html
  layouts/news/single.html
  layouts/operator/single.html
  layouts/partials/head.html
  layouts/partials/head/search.html
  layouts/partials/navigation.html
  layouts/partials/search-button-mobile.html
  layouts/partials/search-button.html
  layouts/partials/search.html
  package-lock.json
  package.json
Due: yaml-sort-i18n, prettier

feat: add nighttrain information
  content/operator/vy/index.de.md
Due: prettier

feat: add translations
  content/booking/entur-chat/index.en.md
  content/booking/entur-chat/index.fr.md
  content/booking/entur-phone/index.en.md
  content/booking/entur-phone/index.fr.md
  content/booking/entur-ticket-office/index.en.md
  content/booking/entur-ticket-office/index.fr.md
  content/country/norway/index.en.md
  content/country/norway/index.fr.md
  content/identify-operator/entur-website/index.en.md
  content/identify-operator/entur-website/index.fr.md
  content/operator/vy/index.en.md
  content/operator/vy/index.fr.md
Due: prettier

feat: reordered booking options
  content/operator/eurostar/index.de.md
  content/operator/eurostar/index.en.md
  content/operator/eurostar/index.fr.md
Due: prettier

refactor: Replace icon font with SVG icons (#790)
  assets/js/darkmode.js
  assets/sass/anchorlink.scss
  assets/sass/content.scss
  assets/sass/contentNavigation.scss
  assets/sass/dropdown.scss
  assets/sass/expander.scss
  assets/sass/fonts.scss
  assets/sass/navigation.scss
  assets/sass/startpage.scss
  assets/sass/styles.scss
  assets/sass/teaser.scss
  hugo.yaml
  layouts/_default/rss.xml
  layouts/news/single.html
  layouts/partials/highlight.html
  layouts/partials/icon.html
  layouts/partials/strip-material-icons.html
  layouts/partials/teaser.html
  package-lock.json
  package.json
Due: prettier

feat: basis setup montenegro & zpcg
  content/country/montenegro/index.de.md
  content/country/montenegro/index.en.md
  content/country/montenegro/index.fr.md
  content/operator/zpcg/index.de.md
  content/operator/zpcg/index.en.md
  content/operator/zpcg/index.fr.md
Due: prettier

feat: basis information from copilot
  content/country/montenegro/index.de.md
  content/operator/zpcg/index.de.md
  content/operator/zpcg/index.en.md
  content/operator/zpcg/index.fr.md
Due: prettier

fix: Update FIP validity for GB
  content/operator/gb/validity.yaml
Due: none

feat: completed montenegro and zpcg articles
  content/booking/zpcg-ticket-office/index.de.md
  content/booking/zpcg-ticket-office/index.en.md
  content/booking/zpcg-ticket-office/index.fr.md
  content/country/montenegro/index.de.md
  content/operator/zpcg/index.de.md
Due: prettier

feat: updated available country json
  assets/content-not-available-yet.json
Due: none

feat: updated preface
  content/booking/zpcg-ticket-office/index.de.md
  content/booking/zpcg-ticket-office/index.en.md
  content/booking/zpcg-ticket-office/index.fr.md
  content/country/montenegro/index.en.md
  content/country/montenegro/index.fr.md
  content/operator/zpcg/index.en.md
  content/operator/zpcg/index.fr.md
Due: prettier

fix: Add countries without FIP to search index
  layouts/country/list.html
Due: prettier

feat: Redesign booking expanders
  assets/sass/booking.scss
  layouts/partials/booking.html
  layouts/partials/tag.html
Due: prettier

fix: Add countries without FIP to search index (#855)
  layouts/country/list.html
Due: prettier

feat(wip): Add tag based filters
  assets/js/expander-filter.js
  assets/js/main.js
  assets/sass/expanderFilter.scss
  assets/sass/main.scss
  content/operator/db/index.de.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/train-category.html
  layouts/shortcodes/booking-filter.html
  layouts/shortcodes/booking.html
  layouts/shortcodes/train-category-filter.html
Due: yaml-sort-i18n, prettier

fix: Remove hidden booking sections from search
  assets/sass/booking.scss
  layouts/partials/booking.html
  layouts/partials/booking/section-rendering.html
  layouts/shortcodes/booking-section.html
Due: prettier

fix: New section scoping of booking footnotes
  content/booking/sbb-ticket-machine/index.de.md
  content/booking/sbb-ticket-machine/index.en.md
  content/booking/sbb-ticket-machine/index.fr.md
  content/booking/sbb-website/index.de.md
  content/booking/sbb-website/index.en.md
  content/booking/sbb-website/index.fr.md
  content/booking/sncf-phone/index.de.md
  content/booking/sncf-phone/index.en.md
  content/booking/sncf-phone/index.fr.md
  content/booking/sncf-ticket-office/index.de.md
  content/booking/sncf-ticket-office/index.en.md
  content/booking/sncf-ticket-office/index.fr.md
  content/booking/stena-line-bv-ticket-office/index.de.md
  content/booking/stena-line-bv-ticket-office/index.en.md
  content/booking/stena-line-bv-ticket-office/index.fr.md
  layouts/partials/booking.html
  layouts/partials/booking/section-rendering.html
Due: prettier

refactor: Move booking related partials to booking folder
  layouts/booking/single.html
  layouts/partials/booking/booking.html
  layouts/partials/booking/links.html
  layouts/shortcodes/booking.html
Due: prettier

fix: Add section gap again
  assets/sass/booking.scss
  layouts/partials/booking/booking.html
Due: prettier

fix: Remove booking page rendering
  content/booking/_index.de.md
  content/booking/_index.en.md
  content/booking/_index.fr.md
  layouts/booking/list.html
  layouts/booking/single.html
Due: prettier

fix: Update FIP validity for GB (#850)
  content/operator/gb/validity.yaml
Due: none

fix: Alias handling for 404 redirect after Hugo regression (#831)
  content/404/index.en.md
Due: prettier

Started changing master data for SZ
  content/operator/sz/index.de.md
Due: prettier

Corrected spelling
  content/contact/index.de.md
  package-lock.json
Due: prettier

fix: update borderpoint and add source
  content/country/norway/index.de.md
  content/country/norway/index.en.md
  content/country/norway/index.fr.md
Due: prettier

Path conditions:
  yaml-sort-i18n: any of: ^i18n/.*\.ya?ml$
  prettier: any of: \.(js|mjs|cjs)$, \.scss$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$
