Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]
default_stages: [pre-commit, pre-merge-commit]
minimum_pre_commit_version: 3.2.0
default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.24.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
        exclude: "^layouts/_default/rss.xml$"
      - id: check-yaml
        exclude: "validity.yaml$"
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: yaml-sort-i18n
        name: Sort i18n YAML files
        entry: npx yaml-sort -i
        language: system
        types: [file]
        files: ^i18n/.*\.ya?ml$
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        types_or: [javascript, scss, html, markdown]
        additional_dependencies:
          - "prettier@3.6.2"
          - "prettier-plugin-go-template@0.0.6"

fix: add source
  content/operator/mav/index.de.md
Due: prettier

fix: Resolve unrendered footnotes on some pages
  content/country/norway/index.fr.md
  content/operator/db/index.de.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
  content/operator/sll/index.fr.md
  content/operator/sncf/index.de.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
  content/operator/sp/index.de.md
  content/operator/sp/index.en.md
  content/operator/sp/index.fr.md
  content/operator/zssk/index.de.md
  content/operator/zssk/index.en.md
  content/operator/zssk/index.fr.md
Due: prettier

ci: Add unrendered footnote detection
  .github/workflows/pullrequest.yaml
Due: none

Small optimization
  content/booking/mav-ticket-machine/index.de.md
  content/booking/mav-ticket-office/index.de.md
  content/booking/mav-website/index.de.md
  content/country/hungary/index.de.md
  content/operator/mav/index.de.md
Due: prettier

Added more recommendations and some small changes
  content/booking/mav-website/index.de.md
  content/country/hungary/index.de.md
  content/operator/gysev/index.de.md
  content/operator/gysev/index.en.md
  content/operator/gysev/index.fr.md
  content/operator/mav/index.de.md
Due: prettier

feat: Add automatic dropdown positioning (#1014)
  assets/sass/dropdown.scss
  assets/sass/navigation.scss
  layouts/_partials/fip-validity/issuer-dropdown.html
  layouts/_partials/footer.html
  layouts/_partials/nav-dropdown.html
Due: prettier

feat: update tag-design
  assets/sass/tag.scss
  layouts/_partials/related.html
  layouts/_partials/teaser.html
  layouts/_partials/updateDate.html
  layouts/news/single.html
Due: prettier

feat: Add support for `color-scheme` (#1046)
  assets/sass/_variables.scss
Due: prettier

fix: update dev container config
  .devcontainer/devcontainer.json
Due: none

feat: add govolta to france
  content/country/france/index.de.md
  content/country/france/index.en.md
  content/country/france/index.fr.md
Due: prettier

feat: add govolta to france
  content/country/france/index.en.md
  content/country/france/index.fr.md
Due: prettier

fix: only show ajc and hotnat information in faq
  content/general/faq/ajc/index.de.md
  content/general/faq/ajc/index.en.md
  content/general/faq/ajc/index.fr.md
  content/general/faq/hotnat/index.de.md
  content/general/faq/hotnat/index.en.md
  content/general/faq/hotnat/index.fr.md
  content/general/faq/missing-connection-train/index.de.md
  content/general/faq/missing-connection-train/index.en.md
  content/general/faq/missing-connection-train/index.fr.md
  content/operator/bls/index.de.md
  content/operator/cd/index.de.md
  content/operator/cfl/index.de.md
  content/operator/db/index.de.md
  content/operator/dsb/index.de.md
  content/operator/eurostar/index.de.md
  content/operator/fs/index.de.md
  content/operator/gysev/index.de.md
  content/operator/ns/index.de.md
  content/operator/oebb/index.de.md
  content/operator/pkp/index.de.md
  content/operator/renfe/index.de.md
  content/operator/sbb/index.de.md
  content/operator/sncb/index.de.md
  content/operator/sncf/index.de.md
  content/operator/zssk/index.de.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_partials/expander.html
  layouts/_shortcodes/ajc.html
  layouts/_shortcodes/faq.html
  layouts/_shortcodes/hotnat.html
Due: yaml-sort-i18n, prettier

feat: add prefers-reduced-motion
  assets/sass/anchorlink.scss
  assets/sass/button.scss
  assets/sass/contentNavigation.scss
  assets/sass/dropdown.scss
  assets/sass/expander.scss
  assets/sass/header.scss
  assets/sass/interactiveMap.scss
  assets/sass/navigation.scss
  assets/sass/search.scss
  assets/sass/styles.scss
  assets/sass/teamMember.scss
  assets/sass/teaser.scss
Due: prettier

feat: add app option
  archetypes/booking/index.de.md
  archetypes/booking/index.en.md
  archetypes/booking/index.fr.md
  content/booking/ht-website/index.de.md
  content/booking/ht-website/index.en.md
  content/booking/ht-website/index.fr.md
  layouts/_partials/booking/booking.html
Due: prettier

fix: add translations
  content/operator/bls/index.en.md
  content/operator/bls/index.fr.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
  content/operator/cfl/index.de.md
  content/operator/cfl/index.en.md
  content/operator/cfl/index.fr.md
  content/operator/dsb/index.en.md
  content/operator/dsb/index.fr.md
  content/operator/eurostar/index.de.md
  content/operator/eurostar/index.en.md
  content/operator/eurostar/index.fr.md
  content/operator/gysev/index.en.md
  content/operator/gysev/index.fr.md
  content/operator/pkp/index.en.md
  content/operator/pkp/index.fr.md
  content/operator/renfe/index.en.md
  content/operator/renfe/index.fr.md
  content/operator/sbb/index.en.md
  content/operator/sbb/index.fr.md
  content/operator/sncb/index.en.md
  content/operator/sncb/index.fr.md
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n, prettier

feat: add app option to mav-website
  content/booking/mav-website/index.de.md
  content/booking/mav-website/index.en.md
  content/booking/mav-website/index.fr.md
Due: prettier

feat: add govolta to non fip operators in france (#1083)
  content/country/france/index.de.md
  content/country/france/index.en.md
  content/country/france/index.fr.md
Due: prettier

fix: add basic functions
  content/nighttrains/index.de.md
  content/nighttrains/index.en.md
  content/nighttrains/index.fr.md
  data/nighttrains/de/fip_details.json
  data/nighttrains/en/fip_details.json
  data/nighttrains/fr/fip_details.json
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_shortcodes/nighttrains-fip-details.html
  layouts/_shortcodes/nighttrains-map.html
  static/nighttrains/README.md
  static/nighttrains/map.css
  static/nighttrains/map.js
Due: yaml-sort-i18n, prettier

fix: Display issue with border point expanders
  layouts/_partials/expander.html
Due: prettier

feat: add prefers-reduced-motion (#1084)
  assets/sass/anchorlink.scss
  assets/sass/button.scss
  assets/sass/contentNavigation.scss
  assets/sass/dropdown.scss
  assets/sass/expander.scss
  assets/sass/header.scss
  assets/sass/interactiveMap.scss
  assets/sass/navigation.scss
  assets/sass/search.scss
  assets/sass/styles.scss
  assets/sass/teamMember.scss
  assets/sass/teaser.scss
Due: prettier

fix: Display issue with border point expanders (#1088)
  layouts/_partials/expander.html
Due: prettier

fix: Remove reservation option from CFL website
  content/operator/cfl/index.de.md
  content/operator/cfl/index.en.md
  content/operator/cfl/index.fr.md
Due: prettier

feat: add basic gallery functionality
  assets/sass/imageGallery.scss
  assets/sass/main.scss
  layouts/_partials/helper/contentImage.html
  layouts/_partials/imageGallery.html
  layouts/_partials/structuredData.html
  layouts/operator/single.html
  layouts/rss.xml
Due: prettier

feat: add gallery buttons
  assets/sass/imageGallery.scss
Due: prettier

feat: add scroll-behaviour
  assets/sass/imageGallery.scss
Due: prettier

feat: add example image
  content/operator/sz/image2.webp
Due: none

feat: add alternative control-buttons
  assets/js/imageGallery.js
  assets/js/main.js
  assets/sass/imageGallery.scss
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_partials/button.html
  layouts/_partials/imageGallery.html
Due: yaml-sort-i18n, prettier

feat: remove previous button-controls
  assets/sass/imageGallery.scss
Due: prettier

feat: just use images with "image" name
  layouts/_partials/helper/contentImage.html
Due: prettier

feat: refactoring
  assets/js/imageGallery.js
  assets/sass/imageGallery.scss
  layouts/_partials/imageGallery.html
Due: prettier

feat: debugging
  assets/js/imageGallery.js
Due: prettier

feat: finalized gallery
  assets/js/imageGallery.js
  assets/sass/imageGallery.scss
  assets/sass/styles.scss
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_partials/imageGallery.html
Due: yaml-sort-i18n, prettier

feat: add gallery to country pages
  layouts/country/single.html
Due: prettier

feat: remove unnessecary css
  assets/sass/imageGallery.scss
Due: prettier

fix: Remove reservation option from CFL website (#1090)
  content/operator/cfl/index.de.md
  content/operator/cfl/index.en.md
  content/operator/cfl/index.fr.md
Due: prettier
