Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]
default_stages: [pre-commit, pre-merge-commit]
minimum_pre_commit_version: 3.2.0
default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.24.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
        exclude: "^layouts/_default/rss.xml$"
      - id: check-yaml
        exclude: "validity.yaml$"
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: yaml-sort-i18n
        name: Sort i18n YAML files
        entry: npx yaml-sort -i
        language: system
        types: [file]
        files: ^i18n/.*\.ya?ml$
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        types_or: [javascript, scss, html, markdown]
        additional_dependencies:
          - "prettier@3.6.2"
          - "prettier-plugin-go-template@0.0.6"

chore: Run prek hooks
  static/admin/shortcodes.js
Due: prettier

fix: Remove netlify-identity-widget
  hugo.yaml
  package-lock.json
  package.json
  static/admin/index.html
Due: prettier

feat: Add identify operator
  static/admin/config.yml
  static/admin/shortcodes.js
Due: prettier

fix: Remove site_domain again
  static/admin/config.yml
Due: none

feat: Several shortcode optimizations
  static/admin/config.yml
  static/admin/shortcodes.js
Due: prettier

feat: Add FIP Guide logo
  static/admin/config.yml
Due: none

fix(cms): align field order and add news country/operator fields
  static/admin/config.yml
Due: none

Revert "fix: Remove site_domain again"
  static/admin/config.yml
Due: none

fix: Switch back to markdown
  static/admin/config.yml
  static/admin/shortcodes.js
Due: prettier

feat: Add singular labels
  package-lock.json
  package.json
  static/admin/config.yml
Due: none

refactor(cms): add missing shortcodes/params, generic toBlock builder
  static/admin/config.yml
  static/admin/shortcodes.js
Due: prettier

feat: link edit page button to Decap CMS, reorder faq collection
  hugo.yaml
  layouts/_partials/contentNavigation.html
  layouts/_partials/helper/cmsEditUrl.html
  layouts/news/single.html
  static/admin/config.yml
Due: prettier

feat(cms): add update/columns/column shortcodes, fix booking/train-category fields
  static/admin/config.yml
  static/admin/shortcodes.js
Due: prettier

feat: Point to the correct repository
  static/admin/config.yml
Due: none

feat: Update content manager title
  static/admin/index.html
Due: prettier

fix: Changed path of faq entries
  static/admin/config.yml
Due: none

Add RE18 line number to Three-Country Train description
  content/country/belgium/index.de.md
  content/country/belgium/index.en.md
  content/country/belgium/index.fr.md
  content/country/netherlands/index.de.md
  content/country/netherlands/index.en.md
  content/country/netherlands/index.fr.md
Due: prettier

Remove icon shortcode from Decap CMS
  static/admin/config.yml
  static/admin/shortcodes.js
Due: prettier

feat: Add discount information for MAV website
  content/booking/mav-website/index.de.md
  content/booking/mav-website/index.en.md
  content/booking/mav-website/index.fr.md
  content/booking/mav-website/mav-website-overview.webp
Due: prettier

feat: Add support for Decap CMS (#1097)
  hugo.yaml
  layouts/_partials/contentNavigation.html
  layouts/_partials/helper/cmsEditUrl.html
  layouts/news/single.html
  package-lock.json
  package.json
  static/admin/config.yml
  static/admin/index.html
  static/admin/shortcodes.js
Due: prettier

Update Operator “sp/index”
  content/operator/sp/index.de.md
  content/operator/sp/index.en.md
  content/operator/sp/index.fr.md
Due: prettier

Update Operator “sp/index”
  content/operator/sp/index.en.md
Due: prettier

Update Country “austria/index”
  content/country/austria/index.de.md
  content/country/austria/index.en.md
  content/country/austria/index.fr.md
Due: prettier

fix: revert accidental highlight syntax and reservation flag mistakes
  content/booking/sncb-ticket-machine/index.de.md
  content/booking/sncb-ticket-machine/index.en.md
  content/booking/sncb-ticket-machine/index.fr.md
  content/operator/bdz/index.de.md
  content/operator/bdz/index.en.md
  content/operator/bdz/index.fr.md
  content/operator/bsb/index.de.md
  content/operator/bsb/index.en.md
  content/operator/bsb/index.fr.md
  content/operator/cfl/index.de.md
  content/operator/cfl/index.en.md
  content/operator/cfl/index.fr.md
  content/operator/cfr/index.de.md
  content/operator/cfr/index.en.md
  content/operator/cfr/index.fr.md
  content/operator/euskotren/index.de.md
  content/operator/euskotren/index.en.md
  content/operator/euskotren/index.fr.md
  content/operator/gb/index.de.md
  content/operator/gb/index.en.md
  content/operator/gb/index.fr.md
  content/operator/ht/index.de.md
  content/operator/ht/index.en.md
  content/operator/ht/index.fr.md
  content/operator/ns/index.de.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
  content/operator/sncb/index.de.md
  content/operator/sncf/index.de.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
  content/operator/sz/index.de.md
  content/operator/sz/index.en.md
  content/operator/sz/index.fr.md
  content/operator/zpcg/index.de.md
  content/operator/zpcg/index.en.md
  content/operator/zpcg/index.fr.md
Due: prettier

docs: cms contribution guide
  content/contribution/edit-button-desktop.webp
  content/contribution/edit-button-mobile.webp
  content/contribution/index.de.md
  content/contribution/index.en.md
  content/contribution/index.fr.md
  content/contribution/language-view.webp
  content/contribution/language.webp
  content/contribution/login.webp
  content/contribution/preview.webp
  content/contribution/save.webp
  content/contribution/startpage.webp
  content/contribution/status-review.webp
  content/contribution/workflow.webp
  content/news/12/editor.webp
  content/news/12/image.webp
  content/news/12/index.de.md
  content/news/12/index.en.md
  content/news/12/index.fr.md
  i18n/de.yaml
  layouts/_partials/footer.html
Due: yaml-sort-i18n, prettier

fix: add github url
  content/contribution/index.de.md
  content/contribution/index.en.md
  content/contribution/index.fr.md
Due: prettier

fix: Update archetype
  archetypes/application/index.de.md
  archetypes/application/index.en.md
  archetypes/application/index.fr.md
Due: prettier

feat: Add defaults for validity and booking platform
  static/admin/config.yml
Due: none

fix: workaround
  content/contribution/index.de.md
  content/contribution/index.en.md
  content/contribution/index.fr.md
Due: prettier

fix: update hugo version
  .github/workflows/deploy.yaml
  .github/workflows/pullrequest.yaml
  hugo.yaml
  netlify.toml
Due: none

fix: add fork hint
  content/contribution/index.de.md
  content/contribution/index.en.md
  content/contribution/index.fr.md
Due: prettier

fix: debug
  content/contribution/index.de.md
  content/contribution/index.en.md
  content/contribution/index.fr.md
Due: prettier
