Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]
default_stages: [pre-commit, pre-merge-commit]
minimum_pre_commit_version: 3.2.0
default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.24.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
        exclude: "^layouts/_default/rss.xml$"
      - id: check-yaml
        exclude: "validity.yaml$"
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: yaml-sort-i18n
        name: Sort i18n YAML files
        entry: npx yaml-sort -i
        language: system
        types: [file]
        files: ^i18n/.*\.ya?ml$
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        types_or: [javascript, scss, html, markdown]
        additional_dependencies:
          - "prettier@3.6.2"
          - "prettier-plugin-go-template@0.0.6"

fix: oebb inconsistencies (#1190)
  content/operator/oebb/index.de.md
  content/operator/oebb/index.en.md
  content/operator/oebb/index.fr.md
Due: prettier

fix: applied review comment
  content/operator/db/index.de.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
Due: prettier

feat: add link from risk of confusion to identify-operator
  assets/js/expander.js
  content/operator/sncf/index.de.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_partials/highlight.html
  layouts/_partials/identify-operator.html
  layouts/_shortcodes/highlight.html
Due: yaml-sort-i18n, prettier

fix: fixed snackbar implementation to let the menu function again
  assets/js/anchorlinks.js
  layouts/baseof.html
Due: prettier

fix: fixed snackbar implementation to let the menu function again (#1226)
  assets/js/anchorlinks.js
  layouts/baseof.html
Due: prettier

feat: add boarding rules in france (#1198)
  content/operator/sncf/index.de.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
Due: prettier

fix: wording
  content/country/north-macedonia/index.de.md
  content/operator/zrsm/index.de.md
Due: prettier

fix: fixed some broken links
  content/booking/ht-ticket-office/index.de.md
  content/booking/ht-ticket-office/index.en.md
  content/booking/ht-ticket-office/index.fr.md
  content/booking/ht-website/index.de.md
  content/booking/ht-website/index.en.md
  content/booking/ht-website/index.fr.md
  content/booking/zou-ticket-office/index.de.md
  content/booking/zou-ticket-office/index.en.md
  content/booking/zou-ticket-office/index.fr.md
  content/news/5/index.de.md
  content/news/5/index.en.md
  content/news/5/index.fr.md
  content/operator/cfl/index.de.md
  content/operator/cfl/index.en.md
  content/operator/cfl/index.fr.md
  content/operator/ht/index.de.md
  content/operator/ht/index.en.md
  content/operator/ht/index.fr.md
  content/operator/vy/index.de.md
  content/operator/vy/index.en.md
  content/operator/vy/index.fr.md
Due: prettier

feat: DB Regio Stuttgart news
  content/news/15/image.webp
  content/news/15/index.de.md
  content/news/15/index.en.md
  content/news/15/index.fr.md
Due: prettier

fix: broken links (#1228)
  content/booking/ht-ticket-office/index.de.md
  content/booking/ht-ticket-office/index.en.md
  content/booking/ht-ticket-office/index.fr.md
  content/booking/ht-website/index.de.md
  content/booking/ht-website/index.en.md
  content/booking/ht-website/index.fr.md
  content/booking/zou-ticket-office/index.de.md
  content/booking/zou-ticket-office/index.en.md
  content/booking/zou-ticket-office/index.fr.md
  content/news/5/index.de.md
  content/news/5/index.en.md
  content/news/5/index.fr.md
  content/operator/cfl/index.de.md
  content/operator/cfl/index.en.md
  content/operator/cfl/index.fr.md
  content/operator/ht/index.de.md
  content/operator/ht/index.en.md
  content/operator/ht/index.fr.md
  content/operator/vy/index.de.md
  content/operator/vy/index.en.md
  content/operator/vy/index.fr.md
Due: prettier

Aktuelle Linienbezeichnungen und Änderung der Linienläufe
  content/news/15/index.de.md
Due: prettier

fix: poland lithuanaia cross border tickets
  content/country/lithuania/index.de.md
  content/country/lithuania/index.en.md
  content/country/lithuania/index.fr.md
  content/country/poland/index.de.md
  content/country/poland/index.en.md
  content/country/poland/index.fr.md
Due: prettier

fix: add border point
  content/country/lithuania/index.de.md
  content/country/lithuania/index.en.md
  content/country/lithuania/index.fr.md
  content/country/poland/index.de.md
  content/country/poland/index.en.md
  content/country/poland/index.fr.md
Due: prettier

Aktuelle Linienbezeichnungen und Änderung der Linienläufe
  content/news/15/index.en.md
Due: prettier

Aktuelle Linienbezeichnungen und Änderung der Linienläufe
  content/news/15/index.fr.md
Due: prettier

fix: stena line bv mail rendering issue
  content/booking/stena-line-bv-email/index.de.md
Due: prettier

feat: DB Regio Stuttgart news - current lines (#1232)
  content/news/15/index.de.md
  content/news/15/index.en.md
  content/news/15/index.fr.md
Due: prettier

fix: taxation link
  content/general/generalinformation/index.de.md
  content/general/generalinformation/index.en.md
  content/general/generalinformation/index.fr.md
Due: prettier

fix: stena line bv mail rendering issue (#1231)
  content/booking/stena-line-bv-email/index.de.md
Due: prettier

fix: vspro hint
  content/booking/db-ticket-office/index.de.md
  content/booking/db-ticket-office/index.en.md
  content/booking/db-ticket-office/index.fr.md
Due: prettier

fix: formatting
  content/news/15/index.de.md
  content/news/15/index.en.md
  content/news/15/index.fr.md
Due: prettier

fix: adopt ave international hint
  content/operator/renfe/index.de.md
  content/operator/renfe/index.en.md
  content/operator/renfe/index.fr.md
Due: prettier

fix: ICN reservation prices
  content/operator/sncf/index.de.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
Due: prettier

feat(cms): Add automatic webp transformation of images
  layouts/admin/section.cmsconfig.yml
Due: none

feat(news): add content image to news 14
  content/news/14/index.de.md
  content/news/14/index.en.md
  content/news/14/index.fr.md
Due: prettier

fix: Rename Czechia content image to remove locale suffix
  content/country/czechia/image.webp
  content/country/czechia/index.de.md
  content/country/czechia/index.en.md
  content/country/czechia/index.fr.md
Due: prettier

feat(cms): add labels for select options
  static/admin/shortcodes.js
Due: prettier

feat(cms): Add more labels
  layouts/admin/section.cmsconfig.yml
  static/admin/shortcodes.js
Due: prettier

refactor(archetypes): add content_images to country and operator
  archetypes/country/index.de.md
  archetypes/country/index.en.md
  archetypes/country/index.fr.md
  archetypes/operator/index.de.md
  archetypes/operator/index.en.md
  archetypes/operator/index.fr.md
Due: prettier

feat: Add support for operators_without_fip param
  layouts/admin/section.cmsconfig.yml
Due: none

feat(cms): add inline icon editor component
  layouts/admin/section.cmsconfig.yml
  static/admin/shortcodes.js
Due: prettier

build: Bump frontend versions
  package-lock.json
  package.json
Due: none

feat(cms): Add flag thumbnail for countries
  layouts/admin/section.cmsconfig.yml
  package-lock.json
  package.json
Due: none

build: Update frontend versions
  package-lock.json
  package.json
Due: none

refactor(cms): Move aliases field after content_images
  layouts/admin/section.cmsconfig.yml
Due: none
