Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]
default_stages: [pre-commit, pre-merge-commit]
minimum_pre_commit_version: 3.2.0
default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.24.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
        exclude: "^layouts/_default/rss.xml$"
      - id: check-yaml
        exclude: "validity.yaml$"
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: yaml-sort-i18n
        name: Sort i18n YAML files
        entry: npx yaml-sort -i
        language: system
        types: [file]
        files: ^i18n/.*\.ya?ml$
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        types_or: [javascript, scss, html, markdown]
        additional_dependencies:
          - "prettier@3.6.2"
          - "prettier-plugin-go-template@0.0.6"

Added KML
  content/booking/kml-ticket-office/index.de.md
  content/country/poland/index.de.md
  content/country/poland/index.en.md
  content/country/poland/index.fr.md
  content/operator/kml/index.de.md
  content/operator/kw/index.de.md
Due: prettier

fix: changed highlight syntax
  content/operator/ht/index.de.md
Due: prettier

Update de.yaml
  i18n/de.yaml
Due: yaml-sort-i18n

Implement satellite-oebb shortcode
  content/booking/oebb-phone/index.de.md
Due: prettier

Create satellite-oebb.html
  layouts/shortcodes/satellite-oebb.html
Due: prettier

Add satelliteOebb en.yaml
  i18n/en.yaml
Due: yaml-sort-i18n

Add satelliteOebb fr.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

Change wording at en.yaml
  i18n/en.yaml
Due: yaml-sort-i18n

Translate satelliteOebb for fr.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

Implement satellite-oebb shortcode index.en.md
  content/booking/oebb-phone/index.en.md
Due: prettier

Implement satellite-oebb shortcode
  content/booking/oebb-phone/index.fr.md
Due: prettier

Verbesserte Formulierung für satelliteOebb
  i18n/de.yaml
Due: yaml-sort-i18n

Better wording of satelliteOebb
  i18n/en.yaml
Due: yaml-sort-i18n

feat: some little adjustments
  archetypes/operator/index.de.md
  archetypes/operator/index.en.md
  archetypes/operator/index.fr.md
  assets/sass/fip-validity.scss
  content/operator/cfl/index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/fip-validity/comparison.html
  layouts/partials/fip-validity/issuer-dropdown.html
  layouts/partials/fip-validity/main.html
Due: yaml-sort-i18n, prettier

fix: Copilot review suggestions
  assets/js/fipValidityComparison.js
  i18n/de.yaml
  layouts/partials/fip-validity/issuer-dropdown.html
Due: yaml-sort-i18n, prettier

fix: update summary for Lumo (#771)
  content/operator/gb/index.de.md
  content/operator/gb/index.en.md
  content/operator/gb/index.fr.md
Due: prettier

refactor: Unify dropdown implementations
  assets/js/fipValidityComparison.js
  assets/sass/dropdown.scss
  assets/sass/fip-validity.scss
  assets/sass/footer.scss
  assets/sass/navigation.scss
  layouts/partials/fip-validity/issuer-dropdown.html
  layouts/partials/footer.html
  layouts/partials/navigation.html
Due: prettier

fix: Icon rotation
  assets/sass/dropdown.scss
Due: prettier

feat: Add animation for dropdown
  assets/sass/dropdown.scss
Due: prettier

fix: Icon rotation for language dropdown
  layouts/partials/footer.html
Due: prettier

fix: Add margin-top to menu on mobile
  assets/sass/dropdown.scss
Due: prettier

fix: Update border-radius
  assets/sass/dropdown.scss
Due: prettier

fix: rename lightbox open trigger
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

feat: Apply fip-validity shortcodes to additional operators
  content/operator/cfr/index.de.md
  content/operator/cfr/index.en.md
  content/operator/cfr/index.fr.md
  content/operator/cie/index.de.md
  content/operator/cie/index.en.md
  content/operator/cie/index.fr.md
  content/operator/ks/index.de.md
  content/operator/ks/index.en.md
  content/operator/ks/index.fr.md
  content/operator/kw/index.de.md
  content/operator/kw/index.en.md
  content/operator/kw/index.fr.md
  content/operator/lka/index.de.md
  content/operator/lka/index.en.md
  content/operator/lka/index.fr.md
  content/operator/nir/index.de.md
  content/operator/nir/index.en.md
  content/operator/nir/index.fr.md
  content/operator/sll/index.de.md
  content/operator/sll/index.en.md
  content/operator/sll/index.fr.md
Due: prettier

feat: Add FIP validity shortcodes
  content/operator/attica/index.de.md
  content/operator/ht/index.de.md
Due: prettier

feat: Migrate to fip-validity shortcodes
  assets/sass/fip-validity.scss
  content/operator/kml/index.de.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/fip-validity/issuer-dropdown.html
Due: yaml-sort-i18n, prettier

fix: Remove duplicated sentence from CIE page
  content/operator/cie/index.de.md
Due: prettier

fix: Remove duplicated sentence from CIE page (#780)
  content/operator/cie/index.de.md
Due: prettier

fix: Border-radius for multi-column menu
  assets/sass/navigation.scss
Due: prettier

fix: Minimize paddings to fit more content
  assets/sass/navigation.scss
Due: prettier

feat: Apply fip-validity shortcodes to additional operators (#779)
  content/operator/cfr/index.de.md
  content/operator/cfr/index.en.md
  content/operator/cfr/index.fr.md
  content/operator/cie/index.de.md
  content/operator/cie/index.en.md
  content/operator/cie/index.fr.md
  content/operator/ks/index.de.md
  content/operator/ks/index.en.md
  content/operator/ks/index.fr.md
  content/operator/kw/index.de.md
  content/operator/kw/index.en.md
  content/operator/kw/index.fr.md
  content/operator/lka/index.de.md
  content/operator/lka/index.en.md
  content/operator/lka/index.fr.md
  content/operator/nir/index.de.md
  content/operator/nir/index.en.md
  content/operator/nir/index.fr.md
  content/operator/sll/index.de.md
  content/operator/sll/index.en.md
  content/operator/sll/index.fr.md
Due: prettier

fix: Remove further references of Paris tram
  content/booking/transilien-ticket-office/index.de.md
  content/booking/transilien-ticket-office/index.en.md
  content/booking/transilien-ticket-office/index.fr.md
  content/operator/sncf/index.de.md
  content/operator/sncf/index.en.md
  content/operator/sncf/index.fr.md
Due: prettier

fix: YAML formatting
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
Due: yaml-sort-i18n

feat: Allow Inner in satellite shortcode for additional info
  content/booking/cfl-phone/index.de.md
  content/booking/cfl-phone/index.en.md
  content/booking/cfl-phone/index.fr.md
  content/booking/eurostar-phone/index.de.md
  content/booking/eurostar-phone/index.en.md
  content/booking/eurostar-phone/index.fr.md
  content/booking/ns-phone/index.de.md
  content/booking/ns-phone/index.en.md
  content/booking/ns-phone/index.fr.md
  content/booking/oebb-phone/index.de.md
  content/booking/oebb-phone/index.en.md
  content/booking/oebb-phone/index.fr.md
  content/booking/sncf-phone/index.de.md
  content/booking/sncf-phone/index.en.md
  content/booking/sncf-phone/index.fr.md
  content/booking/sncf-ticket-office/index.de.md
  content/booking/sncf-ticket-office/index.en.md
  content/booking/sncf-ticket-office/index.fr.md
  content/booking/stena-line-bv-phone/index.de.md
  content/booking/stena-line-bv-phone/index.en.md
  content/booking/stena-line-bv-phone/index.fr.md
  content/booking/stena-line-limited-phone/index.de.md
  content/booking/stena-line-limited-phone/index.en.md
  content/booking/stena-line-limited-phone/index.fr.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/shortcodes/satellite-oebb.html
  layouts/shortcodes/satellite.html
Due: yaml-sort-i18n, prettier

feat: Add information why the alternative phone number is needed
  content/booking/oebb-phone/index.de.md
  content/booking/oebb-phone/index.en.md
  content/booking/oebb-phone/index.fr.md
Due: prettier

fix: removed note for fip coupons
  content/operator/stl/index.de.md
  content/operator/stl/index.en.md
  content/operator/stl/index.fr.md
Due: prettier

feat: Add subtitle to archetype
  archetypes/operator/index.de.md
  archetypes/operator/index.en.md
  archetypes/operator/index.fr.md
Due: prettier

feat: Update NIR and CIE pages
  content/booking/irish-rail-ticket-office/index.de.md
  content/booking/irish-rail-ticket-office/index.en.md
  content/booking/irish-rail-ticket-office/index.fr.md
  content/booking/irish-rail-website/index.de.md
  content/booking/irish-rail-website/index.en.md
  content/booking/irish-rail-website/index.fr.md
  content/booking/translink-ticket-office/index.de.md
  content/booking/translink-ticket-office/index.en.md
  content/booking/translink-ticket-office/index.fr.md
  content/operator/cie/index.de.md
  content/operator/cie/index.en.md
  content/operator/cie/index.fr.md
  content/operator/nir/index.de.md
  content/operator/nir/index.en.md
  content/operator/nir/index.fr.md
Due: prettier
