Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

yaml-sort-i18n:
  name: Sort i18n YAML files
  entry: npx yaml-sort -i
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-go-template@0.0.6

feat: Add FIP validity information for NS issues cards
  content/operator/ns/validity.yaml
Due: none

feat: Add validity information for CD relatives
  content/operator/cd/validity.yaml
Due: none

fix: update cd fip validity
  .pre-commit-config.yaml
  content/news/8/image.webp
  content/news/8/index.de.md
  content/news/8/index.en.md
  content/news/8/index.fr.md
  content/operator/cd/cd-fip-map-26.webp
  content/operator/cd/index.de.md
Due: prettier

fix: update terminology from "Aufschlag" to "Zuschlag" in ČD commercial connections section
  content/operator/cd/index.de.md
Due: prettier

fix: apply pre-commit
  .opencode/command/translate.md
Due: prettier

fix: Add minimum ticket price for regional trains to Fiumicino
  content/operator/fs/index.de.md
  content/operator/fs/index.en.md
  content/operator/fs/index.fr.md
Due: prettier

feat: Add validity information for SNCB
  content/operator/sncb/validity.yaml
Due: none

feat: Open dialog using search
  assets/js/dialog.js
Due: prettier

fix: Remove separate SVG image handling
  layouts/_default/_markup/render-image.html
  layouts/partials/image-compression.html
  layouts/partials/image.html
Due: prettier

build: Use prek as replacement for pre-commit framework (#704)
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
Due: prettier

fix: minor changes after review
  .pre-commit-config.yaml
  content/news/8/index.de.md
  content/operator/cd/cd-fip-map-26.webp
  content/operator/cd/index.de.md
  layouts/partials/link.html
Due: prettier

fix: improve wording
  content/booking/ns-ticket-office/index.de.md
  content/booking/ns-ticket-office/index.en.md
  content/booking/ns-ticket-office/index.fr.md
Due: prettier

fix: Update NS ticket office links and adjust stations for 2026 (#702)
  content/booking/ns-ticket-office/index.de.md
  content/booking/ns-ticket-office/index.en.md
  content/booking/ns-ticket-office/index.fr.md
Due: prettier

fix: Expand exclusions in Broken Links Checker configuration (#703)
  .github/workflows/linkcheck.yaml
Due: none

feat: Add FIP validity comparison
  assets/js/dropdown.js
  assets/js/fipValidityComparison.js
  assets/js/main.js
  assets/sass/dropdown.scss
  assets/sass/fip-validity-comparison.scss
  assets/sass/fip-validity.scss
  assets/sass/main.scss
  assets/sass/styles.scss
  content/fip-validity/index.de.md
  content/fip-validity/index.en.md
  content/fip-validity/index.fr.md
  content/generalinformation/faq/what-rules-apply-to-fip-coupons/_index.de.md
  content/generalinformation/faq/what-rules-apply-to-fip-coupons/_index.en.md
  content/generalinformation/faq/what-rules-apply-to-fip-coupons/_index.fr.md
  content/operator/cd/validity.yaml
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/fip-validity-comparison.html
  layouts/partials/fip-validity-dialog.html
  layouts/partials/fip-validity-table.html
  layouts/shortcodes/fip-validity-comparison.html
Due: yaml-sort-i18n, prettier

feat: Add support for dialogs (#680)
  assets/js/contentNavigation.js
  assets/js/dialog.js
  assets/js/main.js
  assets/js/mobileMenu.js
  assets/sass/button.scss
  assets/sass/dialog.scss
  assets/sass/header.scss
  assets/sass/main.scss
  assets/sass/styles.scss
  content/country/belgium/index.en.md
  content/identify-operator/renfe-commuter-website/index.en.md
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/booking.html
  layouts/partials/button.html
  layouts/partials/dialog.html
  layouts/partials/link.html
  layouts/partials/remove-newlines.html
  layouts/shortcodes/dialog.html
Due: yaml-sort-i18n, prettier

fix: updated map
  content/operator/ns/eurocity-map.de.svg
  content/operator/ns/eurocity-map.en.svg
  content/operator/ns/eurocity-map.fr.svg
  content/operator/ns/eurocity-map.webp
  content/operator/ns/index.de.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
Due: prettier

fix: updated map
  content/operator/sncb/eurocity-map.de.svg
  content/operator/sncb/eurocity-map.en.svg
  content/operator/sncb/eurocity-map.fr.svg
  content/operator/sncb/eurocity-map.webp
  content/operator/sncb/index.de.md
  content/operator/sncb/index.en.md
  content/operator/sncb/index.fr.md
Due: prettier

fix: updated currency position
  content/operator/ns/index.en.md
Due: prettier

fix: Avoid layout shifts when scrollbar appears (#700)
  assets/sass/header.scss
Due: prettier

fix: Remove separate SVG image handling (#709)
  layouts/_default/_markup/render-image.html
  layouts/partials/image-compression.html
  layouts/partials/image.html
Due: prettier

fix: typo fix
  content/operator/lka/index.de.md
Due: prettier

fix: typo fix
  content/operator/pkp/index.de.md
Due: prettier

fix: solved merge conflict
  layouts/_default/_markup/render-image.html
Due: prettier

fix: added margin-bottom to images
  assets/sass/styles.scss
Due: prettier

feat: add sll
  content/booking/stena-line-limited-phone/index.de.md
  content/booking/stena-line-limited-phone/index.en.md
  content/booking/stena-line-limited-phone/index.fr.md
  content/operator/sll/determine_costs_1.webp
  content/operator/sll/determine_costs_2.webp
  content/operator/sll/determine_costs_3.webp
  content/operator/sll/determine_costs_4.webp
  content/operator/sll/index.de.md
  content/operator/sll/index.en.md
  content/operator/sll/index.fr.md
  content/operator/stl/index.de.md
  content/operator/stl/index.en.md
  content/operator/stl/index.fr.md
Due: prettier

feat: add sll
  assets/images/logos/sll.svg
Due: none

fix: replaced svgs for compatibility
  content/generalinformation/borderpoint.de.svg
  content/generalinformation/borderpoint.en.svg
  content/generalinformation/borderpoint.fr.svg
  content/generalinformation/borderstation.de.svg
  content/generalinformation/borderstation.en.svg
  content/generalinformation/borderstation.fr.svg
  content/operator/ns/eurocity-map.de.svg
  content/operator/ns/eurocity-map.en.svg
  content/operator/ns/eurocity-map.fr.svg
  content/operator/sncb/eurocity-map.de.svg
  content/operator/sncb/eurocity-map.en.svg
  content/operator/sncb/eurocity-map.fr.svg
Due: none

feat: added translation and did some changes
  content/operator/sll/image.webp
  content/operator/sll/index.de.md
  content/operator/sll/index.en.md
  content/operator/sll/index.fr.md
  content/operator/sll/stena_line_limited_route_map.svg
Due: prettier

feat: updated prices
  content/operator/sll/index.de.md
  content/operator/sll/index.en.md
  content/operator/sll/index.fr.md
Due: prettier

feat: Move fip-validity partials into folder
  layouts/partials/fip-validity/comparison.html
  layouts/partials/fip-validity/dialog.html
  layouts/partials/fip-validity/main.html
  layouts/partials/fip-validity/table-cell.html
  layouts/partials/fip-validity/table.html
  layouts/shortcodes/fip-validity-comparison.html
  layouts/shortcodes/fip-validity.html
Due: prettier

feat: updated find costs
  content/operator/sll/index.de.md
  content/operator/sll/index.en.md
  content/operator/sll/index.fr.md
Due: prettier

fix: Update validity information
  content/operator/db/validity.yaml
  content/operator/gb/validity.yaml
  content/operator/ns/validity.yaml
  content/operator/sncb/validity.yaml
Due: none

fix: Broken booking page button rendering
  layouts/partials/button.html
Due: prettier

feat: Use Markdown links in image caption
  content/operator/ns/index.de.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
  layouts/shortcodes/float-image.html
Due: prettier

fix: Text overflow
  assets/sass/styles.scss
  layouts/_default/single.html
  layouts/news/single.html
Due: prettier

feat: Align France region nord
  content/operator/ns/validity.yaml
  content/operator/sncb/validity.yaml
Due: none

fix: update NS information about ICD and ECD trains (#688)
  .opencode/command/translate.md
  assets/sass/styles.scss
  content/generalinformation/borderpoint.de.svg
  content/generalinformation/borderpoint.en.svg
  content/generalinformation/borderpoint.fr.svg
  content/generalinformation/borderstation.de.svg
  content/generalinformation/borderstation.en.svg
  content/generalinformation/borderstation.fr.svg
  content/operator/ns/eurocity-map.de.svg
  content/operator/ns/eurocity-map.en.svg
  content/operator/ns/eurocity-map.fr.svg
  content/operator/ns/index.de.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
  content/operator/ns/intercity-direct-map.webp
  content/operator/sncb/eurocity-map.de.svg
  content/operator/sncb/eurocity-map.en.svg
  content/operator/sncb/eurocity-map.fr.svg
  content/operator/sncb/index.de.md
  content/operator/sncb/index.en.md
  content/operator/sncb/index.fr.md
  layouts/_default/_markup/render-image.html
  layouts/partials/image.html
  layouts/shortcodes/float-image.html
Due: prettier

fix: improve wording
  content/booking/lka-ticket-office/index.de.md
Due: prettier

Path conditions:
  yaml-sort-i18n: any of: ^i18n/.*\.ya?ml$
  prettier: any of: \.(js|mjs|cjs)$, \.scss$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$
