Repository fipguide/fipguide.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-sort-i18n, prettier

yaml-sort-i18n:
  name: Sort i18n YAML files
  entry: npx yaml-sort -i
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-go-template@0.0.6

Update index.de.md
  content/operator/dsb/index.de.md
Due: prettier

Update index.en.md
  content/operator/dsb/index.en.md
Due: prettier

Update index.fr.md
  content/operator/dsb/index.fr.md
Due: prettier

Update validity.yaml
  content/operator/db/validity.yaml
Due: none

feat: Improve transitous queries
  content/country/denmark/index.de.md
  content/country/denmark/index.en.md
  content/country/denmark/index.fr.md
  content/country/germany/index.de.md
  content/country/germany/index.en.md
  content/country/germany/index.fr.md
  content/country/ireland/index.de.md
  content/country/ireland/index.en.md
  content/country/ireland/index.fr.md
  content/country/portugal/index.de.md
  content/country/portugal/index.en.md
  content/country/portugal/index.fr.md
  content/operator/db/index.de.md
  content/operator/db/index.en.md
  content/operator/db/index.fr.md
Due: prettier

Remove Regionalverkehre Start Deutschland entries from transitous.yaml
  content/country/germany/transitous.yaml
Due: none

Add priority field to transitous entries for match ordering
  assets/js/routePlanner.js
  content/country/germany/transitous.yaml
  layouts/_default/home.transitousmapping.json
Due: prettier

Add message and fipAccepted/reservationRequired overwrite support to transitous entries
  assets/js/routePlanner.js
  layouts/_default/home.transitousmapping.json
Due: prettier

feat: Add information about three-country-train (DE/BE/NL)
  content/country/belgium/index.de.md
  content/country/belgium/index.en.md
  content/country/belgium/index.fr.md
  content/country/netherlands/index.de.md
  content/country/netherlands/index.en.md
  content/country/netherlands/index.fr.md
  content/operator/ns/index.de.md
  content/operator/ns/index.en.md
  content/operator/ns/index.fr.md
  content/operator/sncb/index.de.md
  content/operator/sncb/index.en.md
  content/operator/sncb/index.fr.md
Due: prettier

Add Arriva three-country train (RE18) rules to NS transitous mapping
  assets/js/routePlanner.js
  content/operator/ns/transitous.yaml
Due: prettier

Add fromCountry/toCountry to query context and NS International ICE rule
  assets/js/routePlanner.js
  content/operator/db/transitous.yaml
  content/operator/ns/transitous.yaml
Due: prettier

Add markdown link support in transitous messages and link to country pages
  content/operator/ns/transitous.yaml
  layouts/_default/home.transitousmapping.json
Due: none

fix: finland reminder
  content/news/3/index.de.md
  content/news/3/index.en.md
  content/news/3/index.fr.md
Due: prettier

fix: update wording
  content/news/3/index.de.md
  content/news/3/index.en.md
  content/news/3/index.fr.md
Due: prettier

fix: remove contact double intersector
  content/contact/index.de.md
  content/contact/index.en.md
  content/contact/index.fr.md
Due: prettier

fix: Remove Fishguard sailing from Irish Ferries (#1104)
  content/country/ireland/index.de.md
  content/country/ireland/index.en.md
  content/country/ireland/index.fr.md
  content/country/united-kingdom/index.de.md
  content/country/united-kingdom/index.en.md
  content/country/united-kingdom/index.fr.md
Due: prettier

fix: finland reminder (#1118)
  content/news/3/index.de.md
  content/news/3/index.en.md
  content/news/3/index.fr.md
Due: prettier

Restrict DB Regio rules to domestic German journeys
  content/operator/db/transitous.yaml
Due: none

fix: remove contact double intersector (#1119)
  content/contact/index.de.md
  content/contact/index.en.md
  content/contact/index.fr.md
Due: prettier

fix: add infos
  .opencode/package-lock.json
  assets/js/fipValidityComparison.js
  assets/sass/main.scss
  assets/sass/taxationEmbed.scss
  hugo.yaml
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/shortcodes/taxation-embed.html
Due: yaml-sort-i18n, prettier

fix: update implementation
  assets/sass/_variables.scss
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/partials/highlight.html
  layouts/shortcodes/taxation-embed.html
Due: yaml-sort-i18n, prettier

feat: Use proper dialog for debug menu
  assets/js/dialog.js
  assets/js/routePlanner.js
  assets/sass/routePlanner.scss
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/general/route-planner/single.html
Due: yaml-sort-i18n, prettier

Remove transitous.yaml files with only agencyName matching
  content/operator/bdz/transitous.yaml
  content/operator/cfl/transitous.yaml
  content/operator/cfr/transitous.yaml
  content/operator/dsb/transitous.yaml
  content/operator/fs/transitous.yaml
  content/operator/kd/transitous.yaml
  content/operator/kml/transitous.yaml
  content/operator/ks/transitous.yaml
  content/operator/kw/transitous.yaml
  content/operator/lka/transitous.yaml
  content/operator/ltg/transitous.yaml
  content/operator/sv/transitous.yaml
  content/operator/zpcg/transitous.yaml
  content/operator/zssk/transitous.yaml
Due: none

Add debug dialog actions and fix snackbar in modal dialogs
  assets/js/anchorlinks.js
  assets/js/routePlanner.js
  assets/sass/anchorlink.scss
  assets/sass/routePlanner.scss
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_partials/snackbar.html
  layouts/general/route-planner/single.html
Due: yaml-sort-i18n, prettier

Use scheduled times and drop OTHER transit mode in route planner
  assets/js/routePlanner.js
Due: prettier

fix: implementation
  assets/sass/taxationEmbed.scss
  content/operator/db/taxation.yaml
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/shortcodes/taxation-embed.html
  layouts/shortcodes/taxation-info.html
Due: yaml-sort-i18n, prettier

Remove redundant transitous mappings, guard snackbar null checks
  assets/js/anchorlinks.js
  content/operator/bls/transitous.yaml
  content/operator/cd/transitous.yaml
  content/operator/cie/transitous.yaml
  content/operator/cp/transitous.yaml
  content/operator/gysev/transitous.yaml
  content/operator/ht/transitous.yaml
  content/operator/nir/transitous.yaml
  content/operator/oebb/transitous.yaml
  content/operator/pkp/transitous.yaml
  content/operator/sbb/transitous.yaml
  content/operator/sncb/transitous.yaml
  content/operator/sncf/transitous.yaml
  content/operator/sz/transitous.yaml
  content/operator/vy/transitous.yaml
Due: prettier

Add ICE cross-border reservation requirements to transitous mapping
  assets/js/routePlanner.js
  content/operator/db/transitous.yaml
Due: prettier

Add border point support for cross-border journey warnings
  assets/js/routePlanner.js
  assets/sass/routePlanner.scss
  content/operator/db/transitous.yaml
  i18n/de.yaml
  i18n/en.yaml
  i18n/fr.yaml
  layouts/_default/home.transitousmapping.json
  layouts/general/route-planner/single.html
Due: yaml-sort-i18n, prettier

Filter route planner stops to European rail stations
  assets/js/routePlanner.js
Due: prettier

Add disable_border_warning flag, apply to Eurostar
  assets/js/routePlanner.js
  content/operator/eurostar/transitous.yaml
  layouts/_default/home.transitousmapping.json
Due: prettier

Show ICE border points year-round, not only during reservation window
  content/operator/db/transitous.yaml
Due: none

Add ICE cross-border reservation checks for NS
  content/operator/ns/transitous.yaml
Due: none

feat: Add support for Decap CMS
  hugo.yaml
  package-lock.json
  package.json
  static/admin/config.yml
  static/admin/index.html
  static/admin/shortcodes.js
Due: prettier

feat: Add netlify URL as site_domain
  static/admin/config.yml
Due: none

Path conditions:
  yaml-sort-i18n: any of: ^i18n/.*\.ya?ml$
  prettier: any of: \.(js|mjs|cjs)$, \.scss$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$
